4YqUqB8FGqzctOVs.json
{
  "active": false,
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Workflows": {
      "main": [
        [],
        [
          {
            "node": "Prepare File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Content": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to GitHub": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-14T09:17:02.862Z",
  "id": "4YqUqB8FGqzctOVs",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AUTO-BACKUP",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {}
          ]
        }
      },
      "id": "31eede14-7d2f-45e2-8448-63ad8b0c8f8e",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1328,
        256
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "400c349a-6694-4ebc-8cc8-4b36b30cdd05",
              "name": "folderName",
              "value": "=Backup_{{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "166886fa-3059-45c4-9038-c398688e81a7",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1104,
        256
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b7cd1ce1-b75a-4221-bce3-f7c00edd2fc1",
      "name": "Split Workflows",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -656,
        256
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow-content",
              "name": "nodes",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "workflow-filename",
              "name": "fileName",
              "value": "={{ $json.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "94131f59-d44d-4305-b923-23f4108eef23",
      "name": "Prepare File Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        176
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "heyasif",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup",
          "mode": "list",
          "cachedResultName": "n8n-backup",
          "cachedResultUrl": "https://github.com/heyasif/n8n-backup"
        },
        "filePath": "={{ $('Set Variables').item.json.folderName }}/{{ $('Prepare File Content').item.json.fileName }}",
        "binaryData": true,
        "commitMessage": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }} Backup completed"
      },
      "id": "09c0046d-9828-4f7e-a91d-3662a40b2166",
      "name": "Upload to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        16,
        256
      ],
      "webhookId": "20f36eee-6bfe-4264-9490-d76d5c1ef46d",
      "alwaysOutputData": false,
      "notesInFlow": true,
      "credentials": {
        "githubApi": {
          "id": "SqRHleiLTwj6IvHV",
          "name": "hellomdasif@gmail.com"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "nodes",
        "options": {
          "fileName": "={{ $json.fileName }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -208,
        176
      ],
      "id": "7a19679f-de0d-45d7-945a-e7b9c1ab08aa",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QcR78sFJYtkQDxL9BLpd9Fg9yyy0rE4Y6UtzV9TXVWk",
          "mode": "list",
          "cachedResultName": "N8N-LOG",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QcR78sFJYtkQDxL9BLpd9Fg9yyy0rE4Y6UtzV9TXVWk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QcR78sFJYtkQDxL9BLpd9Fg9yyy0rE4Y6UtzV9TXVWk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DateTime": "={{$now.setZone('Asia/Kolkata').format('yyyy-MM-dd T')}}",
            "Folder Name": "={{ $('Set Variables').item.json.folderName }}",
            "File Name": "={{ $('Prepare File Content').item.json.fileName }}",
            "Error Message": "={{ $json.error }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        240,
        320
      ],
      "id": "a74bc4c2-bdd2-4ef9-a782-0d0a2de45d32",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3U1X4hjIcv7PxVl",
          "name": "hellomohdasif@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -880,
        256
      ],
      "id": "49bd56b9-af94-4fd6-a79e-8f41c011130a",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "RfDro0nrraMWVEpJ",
          "name": "n8n account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "hellomdasif",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-14T09:17:02.867Z",
      "updatedAt": "2025-09-14T09:17:02.867Z",
      "role": "workflow:owner",
      "workflowId": "4YqUqB8FGqzctOVs",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-07T12:07:18.000Z",
  "versionId": "74e966f0-b04b-4d70-a513-bade91aed27e"
}