5o6t5oIfRFT7p9Vr.json
{
  "active": false,
  "connections": {
    "download_to_binary": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "start": {
      "main": [
        [
          {
            "node": "Trending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "GyaanManch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FactsMind99",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "React_Roll_01",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tanvi_Kapoor_01",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GyaanManch": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trending": {
      "main": [
        [
          {
            "node": "download_to_binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        []
      ]
    },
    "FactsMind99": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "React_Roll_01": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tanvi_Kapoor_01": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-07T19:58:05.872Z",
  "id": "5o6t5oIfRFT7p9Vr",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "YOUTUBE-MAX",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $('start').item.json.public }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
            },
            {
              "name": "Referer",
              "value": "https://www.tiktok.com/"
            },
            {
              "name": "Accept",
              "value": "video/mp4,video/webm,video/*;q=0.9,application/octet-stream;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.5"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "0959f6b8-f6b6-4f8b-80b1-18f4fd9b0bd5",
      "name": "download_to_binary",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -768,
        -384
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1216,
        -384
      ],
      "id": "e4c77fda-2bba-4d92-af65-156aef1742b2",
      "name": "start"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('start').item.json.username }}",
                    "rightValue": "=GyaanManch",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a91b8f66-6ac2-4702-8c0e-ba8dd717226f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GyaanManch"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b099fdb1-1eae-4535-b853-3fab70e1cc2f",
                    "leftValue": "={{ $('start').item.json.username }}",
                    "rightValue": "FactsMind_99",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FactsMind99"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2e29934e-69b8-43f1-8f33-b88758cb90f2",
                    "leftValue": "={{ $('start').item.json.username }}",
                    "rightValue": "React_Roll_01",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "React_Roll_01"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "abcb7fa8-00d8-4daa-abe9-60992891bc9e",
                    "leftValue": "={{ $('start').item.json.username }}",
                    "rightValue": "Tanvi_Kapoor_01",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tanvi_Kapoor_01"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -544,
        -432
      ],
      "id": "150357de-671d-4c06-ae82-e2837e3c7ce8",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.title }}",
        "regionCode": "IN",
        "categoryId": "24",
        "options": {
          "defaultLanguage": "hi",
          "description": "={{ $('Trending').item.json.title }}",
          "privacyStatus": "={{ $('start').item.json.privacy }}",
          "selfDeclaredMadeForKids": false,
          "tags": "={{ $('Trending').item.json.title }}"
        }
      },
      "name": "GyaanManch",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -240,
        -736
      ],
      "id": "8769b9d3-05eb-4b1b-b39e-ffdf272b17a9",
      "binaryPropertyName": "data",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "e5vbfdIvggIbG7b0",
          "name": "POST GyaanManch"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "RQniz2m6XHsilRNT",
          "mode": "list",
          "cachedResultName": "TrendingTitle",
          "cachedResultUrl": "/projects/COQIBF46Vn0bg2e3/datatables/RQniz2m6XHsilRNT"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -992,
        -384
      ],
      "id": "f1ea14c6-b6fa-43ba-9cdd-7cbb45ffcbd9",
      "name": "Trending"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE {{ $('start').item.json.database_name }}\nSET {{ $('start').item.json.type }} = 'DONE'\nWHERE id = {{ $('start').item.json.id }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        384,
        -400
      ],
      "id": "12467468-3109-48d0-9859-c42342071840",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.title }}",
        "regionCode": "IN",
        "categoryId": "24",
        "options": {
          "defaultLanguage": "hi",
          "description": "={{ $('Trending').item.json.title }}",
          "privacyStatus": "={{ $('start').item.json.privacy }}",
          "selfDeclaredMadeForKids": false,
          "tags": "={{ $('Trending').item.json.title }}"
        }
      },
      "name": "FactsMind99",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -224,
        -560
      ],
      "id": "b1f1c8d0-bbc4-44ab-9138-2d3b47115652",
      "binaryPropertyName": "data",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "ulnqe1qEielXQV0W",
          "name": "Facts Mind 99 - ay7261496@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.title }}",
        "regionCode": "IN",
        "categoryId": "24",
        "options": {
          "defaultLanguage": "hi",
          "description": "={{ $('Trending').item.json.title }}",
          "privacyStatus": "={{ $('start').item.json.privacy }}",
          "selfDeclaredMadeForKids": false,
          "tags": "={{ $('Trending').item.json.title }}"
        }
      },
      "name": "React_Roll_01",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -224,
        -400
      ],
      "id": "487e9736-8959-4ec6-b257-a5dfa0cfbd82",
      "binaryPropertyName": "data",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "bJrAr4Py04jWEIZT",
          "name": "React_Roll_01-rahulverma0323e@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.title }}",
        "regionCode": "IN",
        "categoryId": "24",
        "options": {
          "defaultLanguage": "hi",
          "description": "={{ $('Trending').item.json.title }}",
          "privacyStatus": "={{ $('start').item.json.privacy }}",
          "selfDeclaredMadeForKids": false,
          "tags": "={{ $('Trending').item.json.title }}"
        }
      },
      "name": "Tanvi_Kapoor_01",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -224,
        -256
      ],
      "id": "d6a37bfe-9634-420d-87cc-58980034606e",
      "binaryPropertyName": "data",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "53V5EXwtYZRfT2WN",
          "name": "hellomdasif-Tanvi_Kapoor_01"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "hellomdasif",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-07T19:58:05.876Z",
      "updatedAt": "2025-10-07T19:58:05.876Z",
      "role": "workflow:owner",
      "workflowId": "5o6t5oIfRFT7p9Vr",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-20T04:39:43.575Z",
      "updatedAt": "2025-09-20T04:39:43.575Z",
      "id": "BV8GBwIqmK0QIGLr",
      "name": "YOUTUBE"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-13T10:38:29.000Z",
  "versionId": "41e1770f-1a1a-416e-8db4-fa8f8c8a11d4"
}