60cISPIJz9gll2Mh.json
{
  "active": false,
  "connections": {
    "⚙️ Configure Post Settings": {
      "main": [
        [
          {
            "node": "🔀 Smart Content Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container HTTP Reels": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Check Processing Status": {
      "main": [
        [
          {
            "node": "⏰ Initial Processing Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Is Container Ready?": {
      "main": [
        [
          {
            "node": "🔀 HTTP vs FB API Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "anyError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 HTTP vs FB API Router": {
      "main": [
        [
          {
            "node": "📤 Publish via HTTP API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📤 Publish via Facebook SDK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Initial Processing Wait": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Retry Wait Loop": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Check Processing Status1": {
      "main": [
        [
          {
            "node": "✅ Is Container Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Publish via HTTP API": {
      "main": [
        [
          {
            "node": "FTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "anyError": {
      "main": [
        [
          {
            "node": "Reached Max?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⏰ Retry Wait Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reached Max?": {
      "main": [
        [],
        [
          {
            "node": "Forward Prev Page Num",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2m": {
      "main": [
        [
          {
            "node": "Increment Loop Var",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward Prev Page Num": {
      "main": [
        [
          {
            "node": "Wait 2m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars": {
      "main": [
        [
          {
            "node": "Increment Loop Var",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Loop Var": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Smart Content Router": {
      "main": [
        [
          {
            "node": "Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "⚙️ Configure Post Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "wait 5 sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait 5 sec": {
      "main": [
        [
          {
            "node": "Container HTTP Reels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-23T01:44:05.761Z",
  "id": "60cISPIJz9gll2Mh",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "knowsparkz-test",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "217b69e3-98ec-49a2-8fde-372dd1bc1848",
              "name": "node",
              "value": "17841454629202811",
              "type": "string"
            },
            {
              "id": "2caebe7c-a2d3-428e-b129-fcfbe66854e5",
              "name": "post_type",
              "value": "http_reel",
              "type": "string"
            },
            {
              "id": "a17a5c94-d9ae-44f8-9d56-fb55d17efe5",
              "name": "image_url",
              "value": "https://cdn.pixabay.com/photo/2023/11/07/22/59/building-8373618_1280.jpg",
              "type": "string"
            },
            {
              "id": "32aa1561-458c-4f64-a854-eab65f9ad1dd",
              "name": "video_url",
              "value": "https://files.mohdasif.net/meow1/upload.mp4",
              "type": "string"
            },
            {
              "id": "c6485101-488b-43db-8708-1a1136292956",
              "name": "cover_image",
              "value": "https://cdn.pixabay.com/photo/2023/11/07/22/59/building-8373618_1280.jpg",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2880,
        368
      ],
      "id": "0e206cfc-3131-451e-ba6a-bbdf85dcf8ca",
      "name": "⚙️ Configure Post Settings"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('⚙️ Configure Post Settings').item.json.node }}/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "=REELS"
            },
            {
              "name": "video_url",
              "value": "={{ $json.stdout }}"
            },
            {
              "name": "caption",
              "value": "=Guess The Number \n#mystickhan #Guess #Challenge\n"
            },
            {
              "name": "cover_url",
              "value": "=https://files.mohdasif.net/guess/cover.png"
            },
            {
              "name": "audio_name",
              "value": "=mystickhan"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1536,
        208
      ],
      "id": "70e185ca-0fae-4d36-b500-4a54fe59f029",
      "name": "Container HTTP Reels",
      "credentials": {
        "facebookGraphApi": {
          "id": "K7LY27wNHGw0VlWg",
          "name": "mystickhan-17841468272726732"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37f96da8-a8b6-417b-b5cf-7a4df5b4610c",
              "name": "container_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        208
      ],
      "id": "c289eb37-5b92-4f08-9233-804dcba60d55",
      "name": "🔍 Check Processing Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "682def4c-2cda-4417-9329-682a8a60feed",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "FINISHED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        128
      ],
      "id": "b022b220-ad7a-49e5-8825-a2d27bad2dea",
      "name": "✅ Is Container Ready?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da6bcb63-632a-443a-b5b3-a8b6e1c62871",
              "leftValue": "={{ $('🔀 Smart Content Router').item.json.post_type.split(\"_\")[0] }}",
              "rightValue": "http",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -416,
        32
      ],
      "id": "ee6739ad-fa94-4774-a1de-011637cd8579",
      "name": "🔀 HTTP vs FB API Router"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('🔀 Smart Content Router').item.json.node }}/media_publish",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -192,
        -64
      ],
      "id": "5b75c612-280d-4c62-9532-1b6637169015",
      "name": "📤 Publish via HTTP API",
      "credentials": {
        "facebookGraphApi": {
          "id": "K7LY27wNHGw0VlWg",
          "name": "mystickhan-17841468272726732"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $('🔀 Smart Content Router').item.json.node }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -192,
        128
      ],
      "id": "25087d4b-44e4-462d-a438-590cd194c651",
      "name": "📤 Publish via Facebook SDK",
      "credentials": {
        "facebookGraphApi": {
          "id": "IoWNonuo3DCqxU0n",
          "name": "tiny.moew.diary-instagram"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1088,
        208
      ],
      "id": "f41ee304-709c-4eab-b4c8-10d7bcbe5b08",
      "name": "⏰ Initial Processing Wait",
      "webhookId": "1da1db6c-aa53-4097-833f-add9cd2ca0dc"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -192,
        368
      ],
      "id": "fabc6a2f-58f0-48a0-a3a7-d09a6f4a13ba",
      "name": "⏰ Retry Wait Loop",
      "webhookId": "588c89ac-4212-4d8d-9057-81db493c7f11"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/{{ $('🔍 Check Processing Status').item.json.container_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "status_code"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -864,
        208
      ],
      "id": "de535c8a-d143-4683-90be-5813d495b4cf",
      "name": "🔍 Check Processing Status1",
      "credentials": {
        "facebookGraphApi": {
          "id": "K7LY27wNHGw0VlWg",
          "name": "mystickhan-17841468272726732"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "682def4c-2cda-4417-9329-682a8a60feed",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -416,
        368
      ],
      "id": "c86611c2-fa1b-4ec6-828b-33bfa998c9bd",
      "name": "anyError"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Increment Loop Var').item.json.page }}",
              "operation": "larger",
              "value2": "=3"
            }
          ]
        }
      },
      "name": "Reached Max?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -192,
        560
      ],
      "id": "6444c2e7-209c-4896-ae3f-e9a3d416b8ff"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "name": "Wait 2m",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        256,
        656
      ],
      "id": "ca0aa368-19ce-4159-8650-94db5cd4bab3",
      "webhookId": "2a6619e9-04f1-4f54-9e25-da5f5a43d22c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1503b89d-7f11-49fc-86ed-38ed600fc34c",
              "name": "prevPage",
              "value": "={{ $('Increment Loop Var').first().json.page }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        560
      ],
      "id": "961951dc-8fb0-4049-a665-89258dd5d2f3",
      "name": "Forward Prev Page Num"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32a6221a-b000-4b5f-9b93-271c44d542fd",
              "name": "page",
              "value": 1,
              "type": "number"
            },
            {
              "id": "91668535-ba9c-4626-8e64-e7a20644c8e2",
              "name": "pageCount",
              "value": 3,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2432,
        368
      ],
      "id": "7e57b575-e176-4278-a9bf-fea91eb2dadc",
      "name": "Vars"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a042073f-f9e7-4258-80db-360a09c549e4",
              "name": "page",
              "value": "={{ ($('Forward Prev Page Num').isExecuted) ? $('Forward Prev Page Num').first().json.prevPage + 1 : $('Vars').first().json.page }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2208,
        368
      ],
      "id": "2e17712d-9eb5-4917-9152-3cc8b944f50a",
      "name": "Increment Loop Var"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "25e31619-4116-46e0-bfcb-a8d8a030fa68",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "http_reel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTTP - Reels"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cf34e931-f798-4c70-af29-9aec7aab8f6c",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "fb_reel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FB - Reels"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2656,
        368
      ],
      "id": "c54508d5-2b2f-4cd7-824a-4271f7909637",
      "name": "🔀 Smart Content Router"
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "delete",
        "path": "=/upload/guess/{{ $('Execute Command').item.json.stdout.split('/').pop() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        32,
        -64
      ],
      "id": "92aa27fd-e5eb-45fe-88ae-4f864bc9da51",
      "name": "FTP",
      "credentials": {
        "sftp": {
          "id": "C8w0MijZfYD2NPtq",
          "name": "SFTP"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3104,
        368
      ],
      "id": "8a0fb9a1-5e93-4f71-b28c-dfee0fa9bf48",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "command": "=/files/guess/make_guess_video.sh $(shuf -i 1-500 -n 1)\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1984,
        208
      ],
      "id": "3b32e33f-7392-47ba-bdca-2357d195a373",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "name": "wait 5 sec",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -1760,
        208
      ],
      "id": "a42dbc4c-c428-47d3-8a9b-b1fabf139309",
      "webhookId": "fdc4ab42-a059-400c-b41b-feff1f7cfbda"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-09-22T21:00:02.018+05:30",
          "Readable date": "September 22nd 2025, 9:00:02 pm",
          "Readable time": "9:00:02 pm",
          "Day of week": "Monday",
          "Year": "2025",
          "Month": "September",
          "Day of month": "22",
          "Hour": "21",
          "Minute": "00",
          "Second": "02",
          "Timezone": "Asia/Kolkata (UTC+05:30)"
        }
      }
    ]
  },
  "repo": {
    "owner": "hellomdasif",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-23T01:44:05.768Z",
      "updatedAt": "2025-09-23T01:44:05.768Z",
      "role": "workflow:owner",
      "workflowId": "60cISPIJz9gll2Mh",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        10
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2025-09-10T11:25:38.298Z",
      "updatedAt": "2025-09-10T11:25:38.298Z",
      "id": "r3ZdTHEV3fmr7eAz",
      "name": "instagram"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-23T11:03:55.000Z",
  "versionId": "7690a12b-379c-4cba-85ca-7a66fdf9ccb4"
}