8BvMVtfCTBGfFqL9.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        []
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-10-13T04:46:05.389Z",
  "id": "8BvMVtfCTBGfFqL9",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "WORKING WITH PCLOUD",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        0
      ],
      "id": "bcf2fecf-ed11-4f5c-a44c-526884c7184b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "https://filedn.eu/lxLhN9YWBv6mOlDMkTgxAC5/asif/overlay.mp4",
        "height": 80,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        -336
      ],
      "typeVersion": 1,
      "id": "9f6aacef-ee80-4695-9ff5-2c97c2f276fd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eapi.pcloud.com/uploadfile",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "path",
              "value": "/public/ne"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -224
      ],
      "id": "b3b2cff0-657f-4b81-98d1-c9503e4d2786",
      "name": "HTTP Request2",
      "credentials": {
        "httpQueryAuth": {
          "id": "Waazn67l08VEMzzE",
          "name": "PCLOUD"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "fileSelector": "/home/node/shared//YOUTUBE/KnowSparkz/output/UPjjz0jF_MA.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -224,
        -224
      ],
      "id": "f59a8023-4dd2-4f50-b279-31f50c7461e9",
      "name": "Read/Write Files from Disk",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eapi.pcloud.com/listfolder",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "path",
              "value": "/public/n8n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "71e4ae31-cdfc-4290-afd9-945e2beca0f9",
      "name": "HTTP Request",
      "credentials": {
        "httpQueryAuth": {
          "id": "Waazn67l08VEMzzE",
          "name": "PCLOUD"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "metadata.contents",
        "options": {
          "destinationFieldName": "name"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "1a0e0b9b-1a89-4817-adb8-6dc09342651f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "background",
          "mode": "list",
          "cachedResultName": "background"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "filename",
        "valueToMatchOn": "={{ $json.name.name }}",
        "valuesToSend": {
          "values": [
            {
              "column": "bg_video",
              "value": "=https://filedn.eu/lxLhN9YWBv6mOlDMkTgxAC5/n8n/{{ $json.name.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        448,
        0
      ],
      "id": "3388706e-2186-4b55-9376-114865e18744",
      "name": "Insert or update rows in a table",
      "executeOnce": false,
      "alwaysOutputData": false,
      "retryOnFail": false,
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "hellomdasif",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-13T04:46:05.398Z",
      "updatedAt": "2025-10-13T04:46:05.398Z",
      "role": "workflow:owner",
      "workflowId": "8BvMVtfCTBGfFqL9",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-15T11:38:15.000Z",
  "versionId": "f1a7174d-9d94-4f81-932b-a970e52a6cfe"
}