E5jNCcWbXRrb2UOR.json
{
  "active": false,
  "connections": {
    "Configure Post Settings": {
      "main": [
        [
          {
            "node": "Smart Content Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Content Router": {
      "main": [
        [
          {
            "node": "Reel if",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reel if": {
      "main": [
        [
          {
            "node": "Google Sheets — Read Rows4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Upload Session": {
      "main": [
        [
          {
            "node": "Upload the Reel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload the Reel": {
      "main": [
        [
          {
            "node": "Check Status of Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status of Upload": {
      "main": [
        [
          {
            "node": "Publish Reel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets — Read Rows4": {
      "main": [
        [
          {
            "node": "Initialize Upload Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Reel": {
      "main": [
        [
          {
            "node": "Update Sheet — SetStatus1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Configure Post Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-14T12:20:45.134Z",
  "id": "E5jNCcWbXRrb2UOR",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "KnowSparkz-Facebook",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2caebe7c-a2d3-428e-b129-fcfbe66854e5",
              "name": "post_type",
              "value": "reel",
              "type": "string"
            },
            {
              "id": "f5027281-f5b9-4507-95f3-f1d8749e9028",
              "name": "page_id",
              "value": "102723221205773",
              "type": "string"
            },
            {
              "id": "c4578992-d24a-4666-b369-ae9f8c91aaec",
              "name": "node_type",
              "value": "http",
              "type": "string"
            },
            {
              "id": "a17a5c94-d9ae-44f8-9d56-fb55d17efe5a",
              "name": "image_url",
              "value": "https://media.licdn.com/dms/image/v2/D4D03AQHf-K7ergkUwQ/profile-displayphoto-shrink_800_800/B4DZbdtDouHQAg-/0/1747476298728?e=1753920000&v=beta&t=Js1KDjpDYOgzYW4YlhwT1_ZmbggoSIxjcq3IA0rRJs0",
              "type": "string"
            },
            {
              "id": "32aa1561-458c-4f64-a854-eab65f9ad1dd",
              "name": "video_url",
              "value": "https://files.mohdasif.net/meow1/upload1.mp4",
              "type": "string"
            },
            {
              "id": "383ffb11-0191-4fbc-abb1-c9183c66c71c",
              "name": "reel_url",
              "value": "https://videos.pexels.com/video-files/4830364/4830364-uhd_1440_2732_25fps.mp4",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2480,
        -416
      ],
      "id": "7f8593be-554a-46b9-b778-8ccd82a78dcf",
      "name": "Configure Post Settings"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "be8816f5-ae68-48c3-869e-bc67078298d8",
                    "leftValue": "={{ $('Configure Post Settings').item.json.post_type }}",
                    "rightValue": "reel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2256,
        -416
      ],
      "id": "049084e9-f603-44df-acc1-335baa768781",
      "name": "Smart Content Router"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "465dee68-878c-46de-8dd8-ba29e8bb93d3",
              "leftValue": "={{ $('Configure Post Settings').item.json.node_type }}",
              "rightValue": "http",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2032,
        -416
      ],
      "id": "8d171cf9-ca95-4455-b119-ca76d405b310",
      "name": "Reel if"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $('Configure Post Settings').item.json.page_id }}/video_reels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"upload_phase\":\"start\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1584,
        -416
      ],
      "id": "c639e95c-013c-4d2d-b7f4-f8218b7fb678",
      "name": "Initialize Upload Session",
      "credentials": {
        "facebookGraphApi": {
          "id": "8IfWyJAPFN69amxm",
          "name": "knowsparkz-facebookpage"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.upload_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "file_url",
              "value": "={{ $('Google Sheets — Read Rows4').item.json.DirectUrl }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1360,
        -416
      ],
      "id": "bee977af-3fb8-4c84-bd49-fe0c68d425c2",
      "name": "Upload the Reel",
      "credentials": {
        "facebookGraphApi": {
          "id": "8IfWyJAPFN69amxm",
          "name": "knowsparkz-facebookpage"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v23.0/{{ $('Initialize Upload Session').item.json.video_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1136,
        -416
      ],
      "id": "629f27c3-7850-4fab-8b19-3fe937bf99bb",
      "name": "Check Status of Upload",
      "credentials": {
        "facebookGraphApi": {
          "id": "8IfWyJAPFN69amxm",
          "name": "knowsparkz-facebookpage"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $('Configure Post Settings').item.json.page_id }}/video_reels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"video_id\":\"{{ $('Initialize Upload Session').item.json.video_id }}\",\n   \"upload_phase\": \"finish\",\n   \"video_state\": \"PUBLISHED\",\n   \"description\": \"{{ $('Google Sheets — Read Rows4').item.json.title }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -912,
        -416
      ],
      "id": "ead50d3a-efd2-4ad5-b359-3ef2fd0d11d7",
      "name": "Publish Reel",
      "credentials": {
        "facebookGraphApi": {
          "id": "8IfWyJAPFN69amxm",
          "name": "knowsparkz-facebookpage"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1a_wPEwfbQUKXQPAGJE6SU1Uo6mXHiY7HAbK4O0GdG5Q",
          "mode": "list",
          "cachedResultName": "KnowSparkz-Facebook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a_wPEwfbQUKXQPAGJE6SU1Uo6mXHiY7HAbK4O0GdG5Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBX-_Fm10zmUZvYOsGbVOG84z_kEfTSurt72FisNBX8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DirectUrl": "={{ $('Google Sheets — Read Rows4').item.json.DirectUrl }}",
            "status": "=PUBLISHED"
          },
          "matchingColumns": [
            "DirectUrl"
          ],
          "schema": [
            {
              "id": "DirectUrl",
              "displayName": "DirectUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3aa44800-cb32-4fda-a473-b888a5171e81",
      "name": "Update Sheet — SetStatus1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -688,
        -416
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3U1X4hjIcv7PxVl",
          "name": "hellomohdasif@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1a_wPEwfbQUKXQPAGJE6SU1Uo6mXHiY7HAbK4O0GdG5Q",
          "mode": "list",
          "cachedResultName": "KnowSparkz-Facebook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a_wPEwfbQUKXQPAGJE6SU1Uo6mXHiY7HAbK4O0GdG5Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a_wPEwfbQUKXQPAGJE6SU1Uo6mXHiY7HAbK4O0GdG5Q/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status"
            }
          ]
        },
        "options": {}
      },
      "id": "b5d801c4-087c-4ce1-a694-82b4f0ad520f",
      "name": "Google Sheets — Read Rows4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1808,
        -416
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3U1X4hjIcv7PxVl",
          "name": "hellomohdasif@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            },
            {
              "triggerAtHour": 15
            },
            {
              "triggerAtHour": 20,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2704,
        -416
      ],
      "id": "c6409103-2923-475b-afa2-1ba67da3e1e0",
      "name": "Schedule Trigger",
      "notes": "Rule 1 →\n0 0 5 * * *\n(Triggers at 05:00 IST)\nRule 2 →\n0 30 17 * * *\n(Triggers at 17:30 IST)"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "hellomdasif",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-14T12:20:45.140Z",
      "updatedAt": "2025-09-14T12:20:45.140Z",
      "role": "workflow:owner",
      "workflowId": "E5jNCcWbXRrb2UOR",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-09-11T20:40:54.952Z",
      "updatedAt": "2025-09-11T20:40:54.952Z",
      "id": "KislEXiiNTebxxB8",
      "name": "Facebook"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-07T09:20:28.000Z",
  "versionId": "bf952ad8-c406-4b91-a961-3f4a1f95a8d0"
}