hEQfyUpyNikRFnBA.json
{
  "active": false,
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pending_url": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "accounts": {
      "main": [
        [
          {
            "node": "pending_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "command": {
      "main": [
        [
          {
            "node": "public",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "public": {
      "main": [
        [
          {
            "node": "Prepared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepared": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "start": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config2": {
      "main": [
        [
          {
            "node": "download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "IF FINAL EMPTY1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF FINAL EMPTY",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF FINAL EMPTY2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF FINAL EMPTY",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF FINAL EMPTY2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "final_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT_PUBLIC": {
      "main": [
        [
          {
            "node": "Prepared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_public_url": {
      "main": [
        [
          {
            "node": "INSERT_PUBLIC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "modify_mohd_asif",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MILLION_VIEWS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tweak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT_FINAL_MOHD_ASIF": {
      "main": [
        [
          {
            "node": "After_mod_Prepared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_final_url_mohd_asif": {
      "main": [
        [
          {
            "node": "INSERT_FINAL_MOHD_ASIF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "After_mod_Prepared": {
      "main": [
        [
          {
            "node": "Execute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "modify_mohd_asif": {
      "main": [
        [
          {
            "node": "build_final_url_mohd_asif",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "final_url": {
      "main": [
        [
          {
            "node": "After_mod_Prepared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_public_url1": {
      "main": [
        [
          {
            "node": "INSERT_PUBLIC_ReelSense",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT_PUBLIC_ReelSense": {
      "main": [
        [
          {
            "node": "Prepared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MILLION_VIEWS": {
      "main": [
        [
          {
            "node": "build_final_url_mohd_asif",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF FINAL EMPTY1": {
      "main": [
        [
          {
            "node": "config2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF FINAL EMPTY2": {
      "main": [
        [
          {
            "node": "build_public_url1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF FINAL EMPTY": {
      "main": [
        [
          {
            "node": "build_public_url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute": {
      "main": [
        [
          {
            "node": "Call 'SEND-TO-TELEGRAM'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tweak": {
      "main": [
        [
          {
            "node": "build_final_url_mohd_asif",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-19T07:09:46.264Z",
  "id": "hEQfyUpyNikRFnBA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "YOUTUBE - DATA HANDLER",
  "nodes": [
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('accounts').item.json.root_dir }}{{ $('accounts').item.json.folder }}input.jpg",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -3168,
        -624
      ],
      "id": "0bdd08dd-585a-42cc-b359-c6b77c921398",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM {{ $('accounts').item.json.database_name }}\nWHERE  youtube IS NULL\n   OR {{ $json.type }} = ''\nLIMIT 1;\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -4368,
        -16
      ],
      "id": "196a5825-879f-4281-ade6-a0799394d798",
      "name": "pending_url",
      "executeOnce": false,
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM accounts\nWHERE username = '{{ $json.username }}'\n  AND type = '{{ $json.type }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -4592,
        -16
      ],
      "id": "5e954228-3f4c-44c6-820b-585d019f6b31",
      "name": "accounts",
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('pending_url').item.json.image }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3392,
        -624
      ],
      "id": "9ab4365f-9160-480d-84a6-8ec723fb3cac",
      "name": "download"
    },
    {
      "parameters": {
        "command": "=python3  {{ $json.file }} \\\n-i  {{ $json.input_image }} \\\n-b  {{ $json.input_video }} \\\n-o  {{ $json.output__video }} \\\n--cut-percentage 40 \\\n--cut-shape random \\\n--hole-color red \\\n--movement-style random \\\n--piece-scale 1.5 \\\n--fps 30 \\\n--margin-top 45 \\\n--audio-volume 10 \\\n--audio-file {{ $json.audio }} \\\n--audio-custom-volume 100 \\\n--alignment-hold-time 10 \\\n--image-coverage 95"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -2944,
        -624
      ],
      "id": "f43689dc-3b3e-4d57-afa0-795754bd1c17",
      "name": "command"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE {{ $('accounts').item.json.database_name }}\nSET \n  public = \"{{ $('config2').item.json.finalurl }}\"\nWHERE id = {{ $('pending_url').item.json.id }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -2768,
        -624
      ],
      "id": "e62234f1-2abc-40c3-9001-6d8151ea17f8",
      "name": "public",
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM {{ $('accounts').item.json.database_name }}\nWHERE {{ $('config').item.json.type }} IS NULL\n   OR {{ $('config').item.json.type }} = ''\nLIMIT 1;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -2512,
        -64
      ],
      "id": "3ff902c2-1ef9-4371-9368-44672f2ee9a3",
      "name": "Prepared",
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -5056,
        -16
      ],
      "id": "f2f8cc9f-7455-47c9-a2d7-ca513ead7ddf",
      "name": "start"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "235e1dfd-b7bb-40e9-a708-f495c8361968",
              "name": "file",
              "value": "={{$env.BASE_DIR}}{{ $('accounts').item.json.folder }}v2.py",
              "type": "string"
            },
            {
              "id": "ad67ccd6-fa0b-493f-b7f5-d3c517e7a402",
              "name": "input_image",
              "value": "={{$env.BASE_DIR}}{{ $('accounts').item.json.folder }}input.jpg ",
              "type": "string"
            },
            {
              "id": "53643391-bd34-45ae-92f2-b09c42d88bee",
              "name": "input_video",
              "value": "={{$env.BASE_DIR}}{{ $('accounts').item.json.folder }}input/{{ String(Math.floor(Math.random() * 28) + 1).padStart(3, '0') }}.mp4",
              "type": "string"
            },
            {
              "id": "ef82fb45-0b77-4793-bdca-fa5a565eb7f4",
              "name": "output__video",
              "value": "={{$env.BASE_DIR}}{{ $('accounts').item.json.folder }}output/{{ $json.id }}.mp4",
              "type": "string"
            },
            {
              "id": "e4456bd9-36e6-490d-8067-18c207ebf21b",
              "name": "audio",
              "value": "={{$env.BASE_DIR}}{{ $('accounts').item.json.folder }}audio.mp3",
              "type": "string"
            },
            {
              "id": "0e5c521a-b028-434d-8602-0d9ac00cde6d",
              "name": "finalurl",
              "value": "=https://files.mohdasif.net{{ $('accounts').item.json.folder }}output/{{ $('pending_url').item.json.id }}.mp4",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3520,
        -624
      ],
      "id": "eaef3a00-e37d-43f9-a66e-08a5e044fbe2",
      "name": "config2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49cc4872-f0c8-4630-9d2b-776ab3e26f7b",
              "name": "username",
              "value": "={{ $json.username }}",
              "type": "string"
            },
            {
              "id": "411cb60f-d78d-4bdf-870f-409179343e6e",
              "name": "type",
              "value": "={{ $json.type }}",
              "type": "string"
            },
            {
              "id": "d37748d7-bff4-45bc-adba-83ec387d7fe1",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4816,
        -16
      ],
      "id": "1e2f2e46-38b8-45d8-a09e-8e487670613c",
      "name": "config"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -5040,
        96
      ],
      "id": "8768aba7-c1f7-4e4c-baad-055d4bc0cc4a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('config').item.json.username }}",
                    "rightValue": "sss",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "044222b3-8bb6-49ab-894b-9b3fee1fe343"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ss"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "087647e1-c883-48ad-b04b-a2fce36eb524",
                    "leftValue": "={{ $('config').item.json.username }}",
                    "rightValue": "Tanvi_Kapoor_01",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tanvi_Kapoor_01"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "83ea2689-510b-4ec7-92a0-dd5f8dfe51bf",
                    "leftValue": "={{ $('config').item.json.username }}",
                    "rightValue": "ReelSense",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ReelSense"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "04be0559-ef87-434e-b0b1-b68486abee4f",
                    "leftValue": "={{ $('config').item.json.username }}",
                    "rightValue": "GyaanManch",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GyaanManch"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ae7ab193-5946-49dc-850d-87b1de7f660b",
                    "leftValue": "={{ $('config').item.json.username }}",
                    "rightValue": "FactsMind_99",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FactsMind_99"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -4064,
        -48
      ],
      "id": "272f1189-8da0-48ff-acb5-6c0ddb2ab70b",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4e754235-9b9f-4f02-85b2-a52409c1e5e5",
              "leftValue": "={{ $json.final }}",
              "rightValue": "NEEDS MODIFICATION",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2336,
        -64
      ],
      "id": "4780cc87-3b44-42f5-8b28-4d962f3ade87",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE {{ $('accounts').item.json.database_name }}\nSET \n  public = \"{{ $json.public }}\",\n  final =  \"NEEDS MODIFICATION\"\nWHERE id = {{ $('pending_url').item.json.id }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -3088,
        -160
      ],
      "id": "52656377-6929-40de-91d2-a13cf11a2286",
      "name": "INSERT_PUBLIC",
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b7b3e73-6867-4b4d-a184-d016241b74bf",
              "name": "public",
              "value": "=https://files.mohdasif.net{{ $('accounts').item.json.folder }}{{ $('pending_url').item.json.filename }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3296,
        -160
      ],
      "id": "d7a6942c-32c4-4b5d-8e93-61229f96bf16",
      "name": "build_public_url"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "087647e1-c883-48ad-b04b-a2fce36eb524",
                    "leftValue": "={{ $('config').item.json.username }}",
                    "rightValue": "iammohdasifx",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "iammohdasifx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "253761b6-dd64-4b7a-badb-afb1e73bfd90",
                    "leftValue": "={{ $('config').item.json.username }}",
                    "rightValue": "knowsparkz",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "knowsparkz"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a6b705d4-f783-4544-a26d-7aff32a0a966",
                    "leftValue": "={{ $('config').item.json.username }}",
                    "rightValue": "Tanvi_Kapoor_01",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Tanvi_Kapoor_01"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2112,
        -288
      ],
      "id": "39340483-6516-4653-8ccb-ad5c196ac233",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE {{ $('accounts').item.json.database_name }}\nSET \n  final =  \"{{ $('build_final_url_mohd_asif').item.json.final }}\"\nWHERE id = {{ $('pending_url').item.json.id }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1280,
        -448
      ],
      "id": "678f6da8-9a06-4b96-acb0-3edb1339d716",
      "name": "INSERT_FINAL_MOHD_ASIF",
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b7b3e73-6867-4b4d-a184-d016241b74bf",
              "name": "final",
              "value": "=https://files.mohdasif.net{{ $('accounts').item.json.folder }}output/{{ $json.stdout }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1472,
        -480
      ],
      "id": "59e02aa6-be82-43c3-bc48-f3122f95dfa6",
      "name": "build_final_url_mohd_asif"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM {{ $('accounts').item.json.database_name }}\nWHERE {{ $('config').item.json.type }} IS NULL\n   OR {{ $('config').item.json.type }} = ''\nLIMIT 1;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1040,
        32
      ],
      "id": "7509776e-69d1-44cf-bfcd-eefed9869f0e",
      "name": "After_mod_Prepared",
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://n8n.mohdasif.net/webhook/reaction2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"folder\": \"{{ $('accounts').item.json.folder }}\",\n  \"filename\": \"{{ $('pending_url').item.json.filename }}\",\n  \"root_dir\": \"{{ $('accounts').item.json.root_dir }}\",\n  \"OVERLAY_FILE\": \"{{ $('accounts').item.json.root_dir }}tools/reaction/asif/1.mp4\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1776,
        -480
      ],
      "id": "dbae290b-c946-4c3a-b3eb-c520bc60e0cd",
      "name": "modify_mohd_asif"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE {{ $('accounts').item.json.database_name }}\nSET \n  final = \"{{ $('Prepared').item.json.public }}\"\nWHERE \n  id = {{ $('pending_url').item.json.id }}\n  AND (final IS NULL OR final = '');\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1856,
        -16
      ],
      "id": "9a6ab110-3379-4a53-9d45-46cfd06d1fcb",
      "name": "final_url",
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b7b3e73-6867-4b4d-a184-d016241b74bf",
              "name": "public",
              "value": "=https://files.mohdasif.net/{{ $('accounts').item.json.folder }}{{ $('pending_url').item.json.filename }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3312,
        64
      ],
      "id": "340373e3-8380-49ad-a4e3-78e9cdfa300e",
      "name": "build_public_url1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE {{ $('accounts').item.json.database_name }}\nSET \n  public = \"{{ $json.public }}\"\nWHERE id = {{ $('pending_url').item.json.id }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -2976,
        176
      ],
      "id": "70c3352d-470e-4355-a5b1-a8ebf6df2fce",
      "name": "INSERT_PUBLIC_ReelSense",
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://n8n.mohdasif.net/webhook/views",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"folder\": \"{{ $('accounts').item.json.folder }}\",\n  \"filename\": \"{{ $('Prepared').item.json.filename }}\",\n  \"root_dir\": \"{{ $('accounts').item.json.root_dir }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1776,
        -320
      ],
      "id": "1b138d3d-07ec-4be7-9eed-4f60955723eb",
      "name": "MILLION_VIEWS"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4e754235-9b9f-4f02-85b2-a52409c1e5e5",
              "leftValue": "={{ $('pending_url').item.json.final }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c6d77762-53c7-484a-845c-b5f966a55a94",
              "leftValue": "={{ $('pending_url').item.json.final }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3744,
        -608
      ],
      "id": "ff72aa0e-b22d-4af3-b19e-eb6cc438cb02",
      "name": "IF FINAL EMPTY1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4e754235-9b9f-4f02-85b2-a52409c1e5e5",
              "leftValue": "={{ $('pending_url').item.json.final }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c6d77762-53c7-484a-845c-b5f966a55a94",
              "leftValue": "={{ $('pending_url').item.json.final }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3600,
        192
      ],
      "id": "1ff60922-385f-49cd-a29f-0abeddb308be",
      "name": "IF FINAL EMPTY2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4e754235-9b9f-4f02-85b2-a52409c1e5e5",
              "leftValue": "={{ $('pending_url').item.json.final }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c6d77762-53c7-484a-845c-b5f966a55a94",
              "leftValue": "={{ $('pending_url').item.json.final }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3584,
        -96
      ],
      "id": "3eb45b7d-a510-4084-9d74-29a41a0820ee",
      "name": "IF FINAL EMPTY"
    },
    {
      "parameters": {
        "content": "",
        "height": 272,
        "width": 1408
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3888,
        -688
      ],
      "typeVersion": 1,
      "id": "8d84ca64-0177-4659-9864-c92acb4b176d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 288,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3696,
        128
      ],
      "typeVersion": 1,
      "id": "f3e91bba-87fa-474f-9c8d-6e380e91ec52",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"acc_id\": \"{{ (String($('accounts').item.json.acc_id || '').trim().replace(/\\r?\\n/g, '').replace(/^\\\"+|\\\"+$/g, '').replace(/\\\"/g, '\\\\\\\"')) }}\",\n  \"username\": \"{{ (String($('accounts').item.json.username || '').trim().replace(/\\r?\\n/g, '').replace(/^\\\"+|\\\"+$/g, '').replace(/\\\"/g, '\\\\\\\"')) }}\",\n  \"public\": \"{{ (String($json.final || '').trim().replace(/\\r?\\n/g, '').replace(/^\\\"+|\\\"+$/g, '').replace(/\\\"/g, '\\\\\\\"')) }}\",\n  \"access_token\": \"{{ (String($('accounts').item.json.token || '').trim().replace(/\\r?\\n/g, '').replace(/^\\\"+|\\\"+$/g, '').replace(/\\\"/g, '\\\\\\\"')) }}\",\n  \"database_name\": \"{{ (String($('accounts').item.json.database_name || '').trim().replace(/\\r?\\n/g, '').replace(/^\\\"+|\\\"+$/g, '').replace(/\\\"/g, '\\\\\\\"')) }}\",\n  \"status\": \"{{ (String('Pending').trim().replace(/\\\"/g, '\\\\\\\"')) }}\",\n  \"title\": \"{{ (String($('config').item.json.title || $('accounts').item.json.default_title || '').trim().replace(/\\r?\\n/g, '').replace(/^\\\"+|\\\"+$/g, '').replace(/\\\"/g, '\\\\\\\"')) }}\",\n  \"description\": \"{{ (String($('config').item.json.description || $('accounts').item.json.default_des || '').trim().replace(/\\r?\\n/g, ' ').replace(/^\\\"+|\\\"+$/g, '').replace(/\\\"/g, '\\\\\\\"')) }}\",\n  \"type\": \"{{ (String($('config').item.json.type || '').trim().replace(/\\r?\\n/g, '').replace(/^\\\"+|\\\"+$/g, '').replace(/\\\"/g, '\\\\\\\"')) }}\",\n  \"id\": \"{{ (String($json.id || '').trim().replace(/\\r?\\n/g, '').replace(/^\\\"+|\\\"+$/g, '').replace(/\\\"/g, '\\\\\\\"')) }}\",\n  \"privacy\": \"{{ (String($('accounts').item.json.privacy || '').trim().replace(/\\r?\\n/g, '').replace(/^\\\"+|\\\"+$/g, '').replace(/\\\"/g, '\\\\\\\"')) }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        32
      ],
      "id": "852d704e-9d25-4416-8e95-66f182e5136f",
      "name": "Execute"
    },
    {
      "parameters": {
        "content": "",
        "height": 288,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3712,
        -208
      ],
      "typeVersion": 1,
      "id": "79b10881-39e5-496c-8502-681ef2ef1e24",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "url": "https://n8n.mohdasif.net/webhook/tweak",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"INPUT_VIDEO\": \"{{ $('accounts').item.json.root_dir }}{{ $('accounts').item.json.folder }}/{{ $('pending_url').item.json.filename }}\",\n  \"OUTPUT_VIDEO\": \"{{ $('accounts').item.json.root_dir }}{{ $('accounts').item.json.folder }}/output/{{ $('pending_url').item.json.filename }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1776,
        -176
      ],
      "id": "97e8539f-92c2-4513-8413-8406237448c7",
      "name": "tweak"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nYYZ9l5pnnKNCeC1",
          "mode": "list",
          "cachedResultUrl": "/workflow/nYYZ9l5pnnKNCeC1",
          "cachedResultName": "SEND-TO-TELEGRAM"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -624,
        32
      ],
      "id": "118b7815-e0ee-4b62-9250-3e772eae40bd",
      "name": "Call 'SEND-TO-TELEGRAM'"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "hellomdasif",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-19T07:09:46.271Z",
      "updatedAt": "2025-09-19T07:09:46.271Z",
      "role": "workflow:owner",
      "workflowId": "hEQfyUpyNikRFnBA",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-09-20T04:39:43.575Z",
      "updatedAt": "2025-09-20T04:39:43.575Z",
      "id": "BV8GBwIqmK0QIGLr",
      "name": "YOUTUBE"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-14T11:03:18.000Z",
  "versionId": "51d70bbe-00ff-4482-ba23-11ff49e2f9b5"
}