hxWYvFZXmV1cdBGI.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-28T06:36:46.648Z",
  "id": "hxWYvFZXmV1cdBGI",
  "isArchived": false,
  "meta": null,
  "name": "webhook-MSSFORYOU",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "MSSFORYOU",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        16
      ],
      "id": "61e05b80-f914-4c34-9d46-8aa241784034",
      "name": "Webhook",
      "webhookId": "07c52cf5-313f-46be-a1ad-ca63b0b40cfa"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "3n4T1gUfzptUetE7",
          "mode": "list",
          "cachedResultName": "MSSFORYOU-YOUTUBE",
          "cachedResultUrl": "/projects/COQIBF46Vn0bg2e3/datatables/3n4T1gUfzptUetE7"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "filename": "={{ $json.body.filename }}",
            "path": "={{ $json.body.title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        240,
        16
      ],
      "id": "4192eaa1-d2e2-4581-b402-fd87b3a7e95a",
      "name": "Insert row"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "3n4T1gUfzptUetE7",
          "mode": "list",
          "cachedResultName": "MSSFORYOU-YOUTUBE",
          "cachedResultUrl": "/projects/COQIBF46Vn0bg2e3/datatables/3n4T1gUfzptUetE7"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "filename",
              "keyValue": "={{ $json.body.filename }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        80,
        16
      ],
      "id": "b460c01e-8355-49dc-9648-880713f2f184",
      "name": "If row does not exist"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "hellomdasif",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-28T06:36:46.653Z",
      "updatedAt": "2025-09-28T06:36:46.653Z",
      "role": "workflow:owner",
      "workflowId": "hxWYvFZXmV1cdBGI",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-07T12:16:06.534Z",
      "updatedAt": "2025-10-07T12:16:06.534Z",
      "id": "ZIgw9D8vZ3v5ByPZ",
      "name": "WEBHOOK"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-07T12:16:21.000Z",
  "versionId": "61ae088a-38a4-4eb5-9a59-fe6937563389"
}