msuVtX1IB6wO1WHO.json
{
  "active": true,
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "config_json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'getData'": {
      "main": [
        [
          {
            "node": "BuildPuzzle2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_json": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "Call 'getData'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuildPuzzle2": {
      "main": [
        [
          {
            "node": "FINAL_POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'getData'1": {
      "main": [
        [
          {
            "node": "BuildPuzzle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_json1": {
      "main": [
        [
          {
            "node": "config1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config1": {
      "main": [
        [
          {
            "node": "Call 'getData'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuildPuzzle": {
      "main": [
        [
          {
            "node": "FINAL_POST1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINAL_POST": {
      "main": [
        [
          {
            "node": "config_json1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-07T03:12:56.995Z",
  "id": "msuVtX1IB6wO1WHO",
  "isArchived": false,
  "meta": null,
  "name": "urban__raja-fb-insta-[PUZZLE]",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        -816
      ],
      "id": "477452ab-71cc-4de6-b28f-1bba1b57c49e",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BsyOPmLgdOcI8rtZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/BsyOPmLgdOcI8rtZ",
          "cachedResultName": "getData"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        256,
        -816
      ],
      "id": "ec41519b-8052-491e-b214-1e6dbee22db6",
      "name": "Call 'getData'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8s68NCy6GF9p0u8T",
          "mode": "list",
          "cachedResultUrl": "/workflow/8s68NCy6GF9p0u8T",
          "cachedResultName": "POST FACEBOOK - PARALLEL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        704,
        -816
      ],
      "id": "6861aad0-35b7-433e-8962-5a58ff2fc517",
      "name": "FINAL_POST"
    },
    {
      "parameters": {
        "jsCode": "return{\n  \"username\": \"urban__raja\",\n  \"type\": \"fb\",\n  \"title\": \"false\"\n}\n;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -816
      ],
      "id": "21d6e65d-73f4-436a-9dd3-d613c30ba744",
      "name": "config_json"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"username\": \"{{ $('config_json').item.json.username }}\",\n  \"type\": \"{{ $('config_json').item.json.type }}\",\n  \"title\":\"{{ $('config_json').item.json.title }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -816
      ],
      "id": "c94d7906-fa5c-4544-8865-0064ee745631",
      "name": "config"
    },
    {
      "parameters": {
        "url": "https://n8n.mohdasif.net/webhook/puzzle",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"folder\": \"{{ $json.accounts[0].folder }}\",\n  \"filename\": \"{{ $json.pending_url[0].filename }}\",\n  \"root_dir\": \"{{ $json.accounts[0].root_dir }}\",\n  \"username\": \"{{ $json.accounts[0].username }}\",\n  \"database_name\": \"{{ $json.accounts[0].database_name }}\",\n   \"type\": \"{{ $('config_json').item.json.type }}\",\n  \"id\": \"{{ $json.pending_url[0].id }}\",\n  \"title\":\"{{ $('config_json').item.json.title }}\"\n\n\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -816
      ],
      "id": "dc3c157b-7eb5-4ef4-baf0-d59162b453fe",
      "name": "BuildPuzzle2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BsyOPmLgdOcI8rtZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/BsyOPmLgdOcI8rtZ",
          "cachedResultName": "getData"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        256,
        -592
      ],
      "id": "5945d5c2-9221-49ce-a7ff-a532b776059c",
      "name": "Call 'getData'1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8s68NCy6GF9p0u8T",
          "mode": "list",
          "cachedResultUrl": "/workflow/8s68NCy6GF9p0u8T",
          "cachedResultName": "POST FACEBOOK - PARALLEL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        704,
        -592
      ],
      "id": "35476f4d-1848-4451-9634-980f0406df6b",
      "name": "FINAL_POST1"
    },
    {
      "parameters": {
        "jsCode": "return{\n  \"username\": \"urban__raja\",\n  \"type\": \"insta\",\n  \"title\": \"false\"\n}\n;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -592
      ],
      "id": "1b4b9c54-ca86-460d-8c66-b99e08d32b72",
      "name": "config_json1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"username\": \"{{ $('config_json1').item.json.username }}\",\n  \"type\": \"{{ $('config_json1').item.json.type }}\",\n  \"title\":\"{{ $('config_json1').item.json.title }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -592
      ],
      "id": "622e73a4-743c-431f-94ed-c20839dae76a",
      "name": "config1"
    },
    {
      "parameters": {
        "url": "https://n8n.mohdasif.net/webhook/puzzle",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"folder\": \"{{ $json.accounts[0].folder }}\",\n  \"filename\": \"{{ $json.pending_url[0].filename }}\",\n  \"root_dir\": \"{{ $json.accounts[0].root_dir }}\",\n  \"username\": \"{{ $json.accounts[0].username }}\",\n  \"database_name\": \"{{ $json.accounts[0].database_name }}\",\n   \"type\": \"{{ $('config_json1').item.json.type }}\",\n  \"id\": \"{{ $json.pending_url[0].id }}\",\n  \"title\":\"{{ $('config_json1').item.json.title }}\"\n\n\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -592
      ],
      "id": "7bdf0d40-f8e6-4d6e-a88d-07050a61052c",
      "name": "BuildPuzzle"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "hellomdasif",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "o9ORuJvZYNmMmFfK"
  },
  "shared": [
    {
      "createdAt": "2025-10-07T03:12:57.002Z",
      "updatedAt": "2025-10-07T03:12:57.002Z",
      "role": "workflow:owner",
      "workflowId": "msuVtX1IB6wO1WHO",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        16
      ]
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": [
        9
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2025-10-07T12:13:49.553Z",
      "updatedAt": "2025-10-07T12:13:49.553Z",
      "id": "RDHUqhF8fggE5BPq",
      "name": "FACEBOOK-INSTA"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-22T16:37:46.000Z",
  "versionId": "fe32aba6-aa9c-4928-a256-f0b5824960f1"
}