OMO4RZWAT77MrTOJ.json
{
  "active": true,
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "config_json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MODIFY": {
      "main": [
        [
          {
            "node": "Publish_youtube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'getData'": {
      "main": [
        [
          {
            "node": "MODIFY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_json": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "Call 'getData'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-08T14:47:20.819Z",
  "id": "OMO4RZWAT77MrTOJ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Youtube-Tanvi_Kapoor_01",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 15
            },
            {
              "triggerAtHour": 19,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2208,
        -528
      ],
      "id": "a36aa384-dd2b-431a-9442-0a687ccf1573",
      "name": "Schedule Trigger1",
      "notes": "Rule 1 →\n0 0 5 * * *\n(Triggers at 05:00 IST)\nRule 2 →\n0 30 17 * * *\n(Triggers at 17:30 IST)"
    },
    {
      "parameters": {
        "url": "https://n8n.mohdasif.net/webhook/modify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"folder\": \"{{ $json.accounts[0].folder }}\",\n  \"filename\": \"{{ $json.pending_url[0].filename }}\",\n  \"root_dir\": \"{{ $json.accounts[0].root_dir }}\",\n  \"username\": \"{{ $json.accounts[0].username }}\",\n  \"database_name\": \"{{ $json.accounts[0].database_name }}\",\n   \"type\": \"{{ $('config_json').item.json.type }}\",\n  \"id\": \"{{ $json.pending_url[0].id }}\",\n  \"title\":\"{{ $('config_json').item.json.title }}\"\n\n\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1312,
        -528
      ],
      "id": "3e5c4b7b-3474-4e06-ab96-38a2caf6e9fa",
      "name": "MODIFY"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BsyOPmLgdOcI8rtZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/BsyOPmLgdOcI8rtZ",
          "cachedResultName": "getData"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1536,
        -528
      ],
      "id": "e9d5b00f-d284-4b34-b48f-55e5ffb5b3a4",
      "name": "Call 'getData'"
    },
    {
      "parameters": {
        "jsCode": "return{\n  \"username\": \"Tanvi_Kapoor_01\",\n  \"type\": \"youtube\",\n  \"title\": \"false\"\n}\n;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        -528
      ],
      "id": "de3a53e0-5a7b-4684-abf3-397dd6c7b0d6",
      "name": "config_json"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"username\": \"{{ $('config_json').item.json.username }}\",\n  \"type\": \"{{ $('config_json').item.json.type }}\",\n  \"title\":\"{{ $('config_json').item.json.title }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1760,
        -528
      ],
      "id": "665f21df-8520-464b-970c-1e13b95c4006",
      "name": "config"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5o6t5oIfRFT7p9Vr",
          "mode": "list",
          "cachedResultUrl": "/workflow/5o6t5oIfRFT7p9Vr",
          "cachedResultName": "YOUTUBE-MAX"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1088,
        -528
      ],
      "id": "12245fa7-df4e-46c9-aaa3-bbf0684dfd5d",
      "name": "Publish_youtube"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "hellomdasif",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "o9ORuJvZYNmMmFfK"
  },
  "shared": [
    {
      "createdAt": "2025-10-08T14:47:20.823Z",
      "updatedAt": "2025-10-08T14:47:20.823Z",
      "role": "workflow:owner",
      "workflowId": "OMO4RZWAT77MrTOJ",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-09-20T04:39:43.575Z",
      "updatedAt": "2025-09-20T04:39:43.575Z",
      "id": "BV8GBwIqmK0QIGLr",
      "name": "YOUTUBE"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-18T12:52:57.000Z",
  "versionId": "b4c165a2-d03a-4c4e-89a1-72c907f042ab"
}