PJcDH5Vy1ON8Sxd9.json
{
  "active": false,
  "connections": {
    "Set Config5": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive — List Files4": {
      "main": [
        [
          {
            "node": "Filter mp7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter mp7": {
      "main": [
        [
          {
            "node": "Build Row Object4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Row Object4": {
      "main": [
        [
          {
            "node": "Google Sheets — AppendOrUpdate (ensure rows)4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets — AppendOrUpdate (ensure rows)4": {
      "main": [
        [
          {
            "node": "Google Sheets — Read Rows4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets — Read Rows4": {
      "main": [
        [
          {
            "node": "Select One To Process4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select One To Process4": {
      "main": [
        [
          {
            "node": "HTTP Request (download)4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (download)4": {
      "main": [
        [
          {
            "node": "Write Binary File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File4": {
      "main": [
        [
          {
            "node": "Prepare Sheet Update4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Update4": {
      "main": [
        [
          {
            "node": "Google Sheets — AppendOrUpdate (final update)4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Google Drive — List Files4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Config5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets — AppendOrUpdate (final update)4": {
      "main": [
        [
          {
            "node": "Set Config FB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config FB": {
      "main": [
        [
          {
            "node": "FB Upload Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-06T07:18:37.445Z",
  "id": "PJcDH5Vy1ON8Sxd9",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "fb video post copy",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        -704
      ],
      "id": "30ad8939-e907-4425-b3ea-5b058a7a4596",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "GOOGLE_DRIVE_FOLDER_ID",
              "value": "1KHv4wZAzt_OaWETkhzbxz37fF27VOkmN"
            },
            {
              "name": "GOOGLE_SHEET_ID",
              "value": "14EzuQ_35iuNhdVzKnIBcW6uL5vGsCvKwRfL9oVXtsmE"
            },
            {
              "name": "SHEET_NAME",
              "value": "0"
            },
            {
              "name": "FILES_DIR",
              "value": "/files"
            },
            {
              "name": "FILES_URL",
              "value": "https://files.mohdasif.net"
            }
          ]
        },
        "options": {}
      },
      "id": "fda2246d-de5f-48a8-84e3-97fe4e8dad0c",
      "name": "Set Config5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -32,
        -704
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "mode": "expression",
            "value": "={{ $node['Set Config5'].json.GOOGLE_DRIVE_FOLDER_ID }}"
          }
        },
        "options": {
          "fields": [
            "id",
            "name",
            "mimeType",
            "createdTime"
          ]
        }
      },
      "id": "9a1a21c8-5484-4809-8cba-823c6af2901e",
      "name": "Google Drive — List Files4",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        432,
        -704
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HzZikzrKPy60clC6",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().filter(item => item.json.mimeType === 'video/mp4' || (item.json.name||'').toLowerCase().endsWith('.mp4'));"
      },
      "id": "cb012d09-5450-42e9-b7c5-15a28a6cc867",
      "name": "Filter mp7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        640,
        -704
      ]
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  const id = item.json.id;\n  const name = item.json.name || 'video.mp4';\n  const timestamp = Date.now();\n  const safeName = name.replace(/[^a-zA-Z0-9._-]/g, '_').slice(0,240);\n  const finalName = `${timestamp}-BigCreative-${safeName}`;\n\n  out.push({ json: {\n    fileid: id,\n    original_name: name,\n    filename: finalName,\n    direct_url: `https://drive.google.com/uc?export=download&id=${id}`,\n    created_at: new Date().toISOString()\n    // NOTE: intentionally do NOT set status/downloaded_at/public_url here\n  }});\n}\nreturn out;"
      },
      "id": "b6c96473-5c61-4188-a1ca-936f4161c7ec",
      "name": "Build Row Object4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -704
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "mode": "list",
          "value": "={{ $node['Set Config5'].json.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "mode": "list",
          "value": "={{ $node['Set Config5'].json.SHEET_NAME }}"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "fileid"
          ],
          "schema": [
            {
              "id": "fileid",
              "displayName": "fileid"
            },
            {
              "id": "filename",
              "displayName": "filename"
            },
            {
              "id": "direct_url",
              "displayName": "direct_url"
            },
            {
              "id": "mp4_url",
              "displayName": "mp4_url"
            },
            {
              "id": "created_at",
              "displayName": "created_at"
            },
            {
              "id": "original_name",
              "displayName": "original_name"
            },
            {
              "id": "downloaded_at",
              "displayName": "downloaded_at"
            },
            {
              "id": "public_url",
              "displayName": "public_url"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fb3b5085-37a4-40ed-b007-e4210ccbbfbc",
      "name": "Google Sheets — AppendOrUpdate (ensure rows)4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1104,
        -704
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3U1X4hjIcv7PxVl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14EzuQ_35iuNhdVzKnIBcW6uL5vGsCvKwRfL9oVXtsmE",
          "mode": "list",
          "cachedResultName": "pCloud_Instagram_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14EzuQ_35iuNhdVzKnIBcW6uL5vGsCvKwRfL9oVXtsmE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14EzuQ_35iuNhdVzKnIBcW6uL5vGsCvKwRfL9oVXtsmE/edit#gid=0"
        },
        "options": {}
      },
      "id": "1851c847-7d16-4d44-adff-96baf0ae6e1d",
      "name": "Google Sheets — Read Rows4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -256,
        -432
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3U1X4hjIcv7PxVl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Function node — choose one row that is NOT DOWNLOADED and prepare for processing\n// Input: items from Google Sheets — Read Rows2\nconst rows = $input.all().map(i => i.json || {});\n\n// Find first not-downloaded row\nlet chosen = rows.find(r => !r.status || (typeof r.status === 'string' && r.status.trim().toUpperCase() !== 'DOWNLOADED')) || null;\nif (!chosen) return []; // nothing to process\n\n// Ensure filename exists; if not, leave blank (the 'Code' node may generate a local filename)\nlet filename = chosen.filename || '';\n\n// If filename missing, try to use a generated name from upstream 'Code' (that node runs earlier)\nif (!filename && $node['Code3'] && $node['Code3'].first() && $node['Code3'].first().json && $node['Code3'].first().json.filename) {\n  filename = $node['Code3'].first().json.filename;\n}\n\n// Read files dir from Set Config (fallback to '/files')\nlet filesDir = '/files';\ntry{\n  if ($node['Set Config5'] && $node['Set Config5'].json && $node['Set Config5'].json.FILES_DIR) {\n    filesDir = String($node['Set Config5'].json.FILES_DIR).trim() || '/files';\n  }\n} catch(e) { filesDir = '/files'; }\n\n// build local_path\nconst local_path = (filesDir.replace(/\\/$/, '') || '/files') + '/' + (filename || '');\n\nchosen.local_path = local_path;\nchosen.status = 'PROCESSING';\n\n// ensure we return the same shape the rest of your flow expects\nreturn [{ json: chosen }];"
      },
      "id": "b01be043-914e-414b-9bdb-3d7b7df2f616",
      "name": "Select One To Process4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -432
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.direct_url }}",
        "responseFormat": "file",
        "options": {}
      },
      "id": "fe09e9a8-812a-4f4e-bb9f-8774254c7529",
      "name": "HTTP Request (download)4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        224,
        -432
      ]
    },
    {
      "parameters": {
        "fileName": "=/files/{{ $('Code3').first().json.filename }}",
        "options": {}
      },
      "id": "4eeb06e3-2f9d-4e6a-91e3-36faa9824bcd",
      "name": "Write Binary File4",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        480,
        -432
      ]
    },
    {
      "parameters": {
        "jsCode": "const filename = $('Code3').first().json.filename || $json.filename || '';\nconst fileid = $json.fileid || '';\nconst direct_url = $json.direct_url || '';\nconst now = new Date().toISOString();\n\n// Build public URL with domain from config or fallback\nconst filesUrl = ($node['Set Config5'] && $node['Set Config5'].json && $node['Set Config5'].json.FILES_URL) ? String($node['Set Config5'].json.FILES_URL).trim() : 'https://files.mohdasif.net';\nconst publicUrl = filesUrl.replace(/\\/$/, '') + (filename ? ('/' + filename) : '');\n\nconst status = filename ? 'DOWNLOADED' : 'ERROR';\n\nreturn [{\n  json: {\n    fileid,\n    filename,\n    status,\n    downloaded_at: now,\n    public_url: publicUrl,\n    direct_url\n  }\n}];\n"
      },
      "id": "7a20e74f-2f48-425f-bf70-68c51282a4e0",
      "name": "Prepare Sheet Update4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -432
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "mode": "list",
          "value": "={{ $node['Set Config5'].json.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "mode": "list",
          "value": "={{ $node['Set Config5'].json.SHEET_NAME }}"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "fileid"
          ],
          "schema": [
            {
              "id": "fileid",
              "displayName": "fileid"
            },
            {
              "id": "filename",
              "displayName": "filename"
            },
            {
              "id": "direct_url",
              "displayName": "direct_url"
            },
            {
              "id": "status",
              "displayName": "status"
            },
            {
              "id": "downloaded_at",
              "displayName": "downloaded_at"
            },
            {
              "id": "public_url",
              "displayName": "public_url"
            },
            {
              "id": "created_at",
              "displayName": "created_at"
            }
          ]
        },
        "options": {}
      },
      "id": "fcbdc1bb-f5cd-46d0-b154-57c3ec4fdff3",
      "name": "Google Sheets — AppendOrUpdate (final update)4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        992,
        -432
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3U1X4hjIcv7PxVl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Generate one clean 5-digit random number and create filename/local_path\nfunction random5Digits() {\n  return Math.floor(10000 + Math.random() * 90000);\n}\n\nconst randomNumber = random5Digits();\nconst filename = randomNumber + '.mp4';\nconst local_path = '/files/' + filename;\n\nreturn {\n  json: {\n    randomNumber,\n    filename,\n    local_path,\n    status: 'PROCESSING',\n    direct_url: $json.direct_url // keep direct_url for HTTP Request if needed\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -704
      ],
      "id": "053f74ae-8ffc-4a2b-9949-c19d49e7caca",
      "name": "Code3"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "PAGE_ID",
              "value": "102723221205773"
            },
            {
              "name": "PAGE_ACCESS_TOKEN",
              "value": "EAAVPe8yZBZBXYBPVSAAJsZAlJHgmWVbvRDkbx3wka0kMdDtB1adw1uV7vhqRXLI43IqIvDTTAiOcCy7KSO4Ki8wP8TzM5eE2LIZAZC0QoP6yfSWkIAWbydEXlV9tdLtwbufgWIYbTT8AWm5TNXnAWpgdgejd82D50Caul6Skp932jiuqiK8ZAaXIq9qROatHWRt52JLLdlZBNOEoV1LoZAyty9m1tCg2EbhotdHZAbwZDZD"
            },
            {
              "name": "FB_VIDEO_ENDPOINT",
              "value": "https://graph-video.facebook.com/v21.0"
            },
            {
              "name": "DIRECT_URL",
              "value": "={{ $json.public_url }}"
            },
            {
              "name": "CAPTION",
              "value": "anything"
            }
          ]
        },
        "options": {}
      },
      "id": "8eaaf55d-f7b4-4ce4-a709-29a013ecf9b2",
      "name": "Set Config FB",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        16,
        -176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph-video.facebook.com/v21.0/' + $json.PAGE_ID + '/videos' }}\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_url",
              "value": "={{ $json.public_url }}"
            },
            {
              "name": "description",
              "value": "={{ $json.CAPTION }}"
            },
            {
              "name": "=access_token",
              "value": "={{ $json.PAGE_ACCESS_TOKEN || $json.page_access_token || '' }}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "37a9fdaf-ab7e-483e-afae-3b70d5519280",
      "name": "FB Upload Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        368,
        -176
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "qLytrID6kZbKauFA",
          "name": "new"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "hellomdasif",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-06T07:18:37.449Z",
      "updatedAt": "2025-09-06T07:18:37.449Z",
      "role": "workflow:owner",
      "workflowId": "PJcDH5Vy1ON8Sxd9",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-07T02:21:15.000Z",
  "versionId": "7000b260-4997-49bb-a82f-cfa75bac8fad"
}