qoWeuuLSdbFK3VaU.json
{
  "active": true,
  "connections": {
    "MODIFY": {
      "main": [
        [
          {
            "node": "Publish_youtube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'getData'": {
      "main": [
        [
          {
            "node": "MODIFY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_json": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "Call 'getData'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "config_json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-09T10:02:31.208Z",
  "id": "qoWeuuLSdbFK3VaU",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Youtube-FactsMind_99",
  "nodes": [
    {
      "parameters": {
        "url": "https://n8n.mohdasif.net/webhook/modify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"folder\": \"{{ $json.accounts[0].folder }}\",\n  \"filename\": \"{{ $json.pending_url[0].filename }}\",\n  \"root_dir\": \"{{ $json.accounts[0].root_dir }}\",\n  \"username\": \"{{ $json.accounts[0].username }}\",\n  \"database_name\": \"{{ $json.accounts[0].database_name }}\",\n   \"type\": \"{{ $('config_json').item.json.type }}\",\n  \"id\": \"{{ $json.pending_url[0].id }}\",\n  \"title\":\"{{ $('config_json').item.json.title }}\"\n\n\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1712,
        -464
      ],
      "id": "83d89973-5c0c-4d02-872c-212ece975dfe",
      "name": "MODIFY"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BsyOPmLgdOcI8rtZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/BsyOPmLgdOcI8rtZ",
          "cachedResultName": "getData"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1936,
        -464
      ],
      "id": "52d0532b-67bc-4a8f-aa4b-0d456165925f",
      "name": "Call 'getData'"
    },
    {
      "parameters": {
        "jsCode": "return{\n  \"username\": \"FactsMind_99\",\n  \"type\": \"youtube\",\n  \"title\": \"false\"\n}\n;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2384,
        -464
      ],
      "id": "4634b9a1-4449-49a5-beba-95645db71143",
      "name": "config_json"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"username\": \"{{ $('config_json').item.json.username }}\",\n  \"type\": \"{{ $('config_json').item.json.type }}\",\n  \"title\":\"{{ $('config_json').item.json.title }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2160,
        -464
      ],
      "id": "fb4c7f48-799b-4f61-8e5c-7bc21413b7e8",
      "name": "config"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5o6t5oIfRFT7p9Vr",
          "mode": "list",
          "cachedResultUrl": "/workflow/5o6t5oIfRFT7p9Vr",
          "cachedResultName": "YOUTUBE-MAX"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1488,
        -464
      ],
      "id": "35c70ebe-adcd-4620-bc41-80e26166205f",
      "name": "Publish_youtube"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 19,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2560,
        -464
      ],
      "id": "7ed6e307-b37c-4615-95c0-852e8c50dd67",
      "name": "Schedule Trigger",
      "notes": "Rule 1 →\n0 0 5 * * *\n(Triggers at 05:00 IST)\nRule 2 →\n0 30 17 * * *\n(Triggers at 17:30 IST)"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "hellomdasif",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "o9ORuJvZYNmMmFfK"
  },
  "shared": [
    {
      "createdAt": "2025-10-09T10:02:31.217Z",
      "updatedAt": "2025-10-09T10:02:31.217Z",
      "role": "workflow:owner",
      "workflowId": "qoWeuuLSdbFK3VaU",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-09-20T04:39:43.575Z",
      "updatedAt": "2025-09-20T04:39:43.575Z",
      "id": "BV8GBwIqmK0QIGLr",
      "name": "YOUTUBE"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-18T12:56:56.000Z",
  "versionId": "59de4b3d-a0d2-4d1d-be23-1a16a587627d"
}