SdQX9EKQ9yxVWYPa.json
{
  "active": false,
  "connections": {
    "Schedule Daily": {
      "main": [
        [
          {
            "node": "API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          },
          {
            "node": "update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Set User IDs1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "process_url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "3. Get 5 Latest Posts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "process_url": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Get 5 Latest Posts1": {
      "main": [
        [
          {
            "node": "4. Extract URLs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API": {
      "main": [
        [
          {
            "node": "1. Set User IDs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Extract URLs1": {
      "main": [
        [
          {
            "node": "insert_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-02T20:31:57.060Z",
  "id": "SdQX9EKQ9yxVWYPa",
  "isArchived": true,
  "meta": null,
  "name": "My workflow 30",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "dd934534-8c79-48d9-8af6-b901a1b5043b",
      "name": "Schedule Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1776,
        448
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2e152104-af62-4222-a5bf-178f6cf49ccf",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -656,
        112
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.video_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 60000
        }
      },
      "id": "0ab565f3-fc7b-4e28-a060-5853267761f1",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        48
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/shared/INSTAGRAM/usa/{{ $json.code }}.mp4",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -208,
        48
      ],
      "id": "216b96e6-efa2-47b2-bcf5-6843f1d29ec2",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        16,
        224
      ],
      "id": "80630b22-a604-4515-9907-b3bfb7dc4540",
      "name": "Wait2",
      "webhookId": "634f1c6e-ff81-47f6-9cab-e3b946a7e26f"
    },
    {
      "parameters": {
        "functionCode": "// Define the two user IDs you want to process\nconst userIds = [\n  \"bhonyongwa\",\n  \"noluthando5387\"\n];\n\n// This will create two separate items for the next nodes to process\nreturn userIds.map(id => ({\n  json: {\n    userId: id\n  }\n}));\n"
      },
      "id": "ff29d457-fdb7-4a0a-87cd-162e5dde1b89",
      "name": "1. Set User IDs1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1328,
        448
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1168,
        384
      ],
      "id": "970cee1b-8ce1-421c-bca8-a64477bdaa52",
      "name": "Loop Over Items",
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "USA",
          "mode": "list",
          "cachedResultName": "USA"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "downloaded",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -832,
        64
      ],
      "id": "a1bf0674-c239-4a3c-b40a-436bc2f4d35c",
      "name": "process_url",
      "executeOnce": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "USA",
          "mode": "list",
          "cachedResultName": "USA"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "code",
        "valueToMatchOn": "={{ $json.code }}",
        "valuesToSend": {
          "values": [
            {
              "column": "reel_url",
              "value": "={{ $json.reel_url }}"
            },
            {
              "column": "video_url",
              "value": "={{ $json.video_url }}"
            },
            {
              "column": "title",
              "value": "={{ $json.title }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -432,
        512
      ],
      "id": "4eeade18-b573-40f1-a3dd-dbc012f9ea26",
      "name": "insert_data",
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $('API').item.json.url + $('1. Set User IDs1').item.json.userId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RapidAPI-Key",
              "value": "={{ $('API').item.json.x_rapidapi_key }}"
            },
            {
              "name": "X-RapidAPI-Host",
              "value": "={{ $('API').item.json.x_rapidapi_host }}"
            }
          ]
        },
        "options": {}
      },
      "id": "75810930-7334-455e-82f7-2c72383904e3",
      "name": "3. Get 5 Latest Posts1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        448
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "api",
          "mode": "list",
          "cachedResultName": "api"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "name",
              "value": "instagram"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1552,
        448
      ],
      "id": "a75e68c7-fae9-4ff3-ab9e-55edd218001c",
      "name": "API",
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "functionCode": "// Get the array of video items from the input\nconst itemsArray = items[0].json.data.items;\n\n// Map over the array to create a new, cleaner array of objects\nconst extractedData = itemsArray.map(item => {\n  return {\n    code: item.code,\n    title: item.caption?.text || \"No caption\",  // Handle missing/empty caption\n    video_url: item.video_url, // Temporary download URL\n    reel_url: `https://www.instagram.com/reel/${item.code}` // Permanent shareable URL\n  };\n});\n\n// Return the new array\nreturn extractedData;\n"
      },
      "id": "17c6dc8d-ec47-400f-8351-04fbe16f93cb",
      "name": "4. Extract URLs1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -656,
        448
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "USA",
          "mode": "list",
          "cachedResultName": "USA"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "code",
        "valueToMatchOn": "={{ $('Split In Batches').item.json.code }}",
        "valuesToSend": {
          "values": [
            {
              "column": "downloaded",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        16,
        0
      ],
      "id": "9e799764-a5c7-46d6-a5b4-11966215ff20",
      "name": "update",
      "executeOnce": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "hellomdasif",
    "name": "n8n-backup"
  },
  "settings": {},
  "shared": [
    {
      "createdAt": "2025-10-02T20:31:57.063Z",
      "updatedAt": "2025-10-02T20:31:57.063Z",
      "role": "workflow:owner",
      "workflowId": "SdQX9EKQ9yxVWYPa",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-06T11:25:32.000Z",
  "versionId": "35b58e82-8053-47e3-a47f-00e84df168b7"
}