SyrIxiYg4qNwKYzk.json
{
  "active": false,
  "connections": {
    "✅ Is Container Ready?": {
      "main": [
        [
          {
            "node": "🔀 HTTP vs FB API Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "anyError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 HTTP vs FB API Router": {
      "main": [
        [
          {
            "node": "📤 Publish via HTTP API",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "⏰ Initial Processing Wait": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Retry Wait Loop": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Check Processing Status1": {
      "main": [
        [
          {
            "node": "✅ Is Container Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Publish via HTTP API": {
      "main": [
        [
          {
            "node": "update sucess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "anyError": {
      "main": [
        [
          {
            "node": "Reached Max?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⏰ Retry Wait Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reached Max?": {
      "main": [
        [
          {
            "node": "Update Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward Prev Page Num",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2m": {
      "main": [
        [
          {
            "node": "Increment Loop Var",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward Prev Page Num": {
      "main": [
        [
          {
            "node": "Wait 2m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars": {
      "main": [
        [
          {
            "node": "Increment Loop Var",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Loop Var": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container HTTP Reels": {
      "main": [
        [
          {
            "node": "⏰ Initial Processing Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getaccounts": {
      "main": [
        [
          {
            "node": "Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "getaccounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Error": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update sucess": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "finalurl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "finalurl": {
      "main": [
        [
          {
            "node": "Container HTTP Reels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        []
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Is Container Ready?1": {
      "main": [
        [
          {
            "node": "🔀 HTTP vs FB API Router1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "anyError1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 HTTP vs FB API Router1": {
      "main": [
        [
          {
            "node": "📤 Publish via HTTP API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Publish via HTTP API1": {
      "main": [
        [
          {
            "node": "update sucess1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Initial Processing Wait1": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Retry Wait Loop1": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Check Processing Status": {
      "main": [
        [
          {
            "node": "✅ Is Container Ready?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "anyError1": {
      "main": [
        [
          {
            "node": "Reached Max?1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⏰ Retry Wait Loop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reached Max?1": {
      "main": [
        [
          {
            "node": "Update Error1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward Prev Page Num1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2m1": {
      "main": [
        [
          {
            "node": "Increment Loop Var1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward Prev Page Num1": {
      "main": [
        [
          {
            "node": "Wait 2m1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars1": {
      "main": [
        [
          {
            "node": "Increment Loop Var1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Loop Var1": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container HTTP Reels1": {
      "main": [
        [
          {
            "node": "⏰ Initial Processing Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getaccounts1": {
      "main": [
        [
          {
            "node": "Vars1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config1": {
      "main": [
        [
          {
            "node": "getaccounts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Error1": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify in channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update sucess1": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "finalurl1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "finalurl1": {
      "main": [
        [
          {
            "node": "Container HTTP Reels1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "config1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "Update row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-28T10:53:48.455Z",
  "id": "SyrIxiYg4qNwKYzk",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "urban__raja-insta-5",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "682def4c-2cda-4417-9329-682a8a60feed",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "FINISHED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1328,
        -352
      ],
      "id": "86f5b2b1-a3e4-4416-b61e-5ad86bb6e428",
      "name": "✅ Is Container Ready?",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da6bcb63-632a-443a-b5b3-a8b6e1c62871",
              "leftValue": "http",
              "rightValue": "http",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1104,
        -448
      ],
      "id": "5550c395-e696-4b2d-a789-c12a6cd1257b",
      "name": "🔀 HTTP vs FB API Router",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('getaccounts').item.json.acc_id }}/media_publish",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('getaccounts').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        -448
      ],
      "id": "20b2c18d-d317-468e-a85c-6a4e441c5e6a",
      "name": "📤 Publish via HTTP API",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1776,
        -288
      ],
      "id": "be4db358-e95e-43b3-8af7-4c3a635e802a",
      "name": "⏰ Initial Processing Wait",
      "webhookId": "ced0cb9e-e83a-4a99-879a-098700771c5d",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -880,
        -256
      ],
      "id": "c034ecf7-0150-49b5-babf-3af9dd2c33b7",
      "name": "⏰ Retry Wait Loop",
      "webhookId": "d1c41684-942c-459d-bbb4-b0710787c5c3",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/{{ $('Container HTTP Reels').item.json.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "status_code"
            },
            {
              "name": "access_token",
              "value": "={{ $('getaccounts').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1552,
        -288
      ],
      "id": "7d9a3408-731f-45ae-8c09-11f97b43aa1d",
      "name": "🔍 Check Processing Status1",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "682def4c-2cda-4417-9329-682a8a60feed",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1104,
        -256
      ],
      "id": "b267749f-646f-40c2-b005-fe9533f6751a",
      "name": "anyError",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Increment Loop Var').item.json.page }}",
              "operation": "larger",
              "value2": "=3"
            }
          ]
        }
      },
      "name": "Reached Max?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -880,
        -64
      ],
      "id": "cb1942f3-dea1-4c65-bde8-7fcf77a679e1",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "name": "Wait 2m",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -432,
        176
      ],
      "id": "6f84a6bc-b36d-4114-af9a-4d6f415ccd7f",
      "webhookId": "95590b37-1409-421a-9147-78fc45b21e8f",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1503b89d-7f11-49fc-86ed-38ed600fc34c",
              "name": "prevPage",
              "value": "={{ $('Increment Loop Var').first().json.page }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        112
      ],
      "id": "d04fba89-76ab-4a93-9016-3be70c0301f1",
      "name": "Forward Prev Page Num",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32a6221a-b000-4b5f-9b93-271c44d542fd",
              "name": "page",
              "value": 1,
              "type": "number"
            },
            {
              "id": "91668535-ba9c-4626-8e64-e7a20644c8e2",
              "name": "pageCount",
              "value": 2,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3120,
        -112
      ],
      "id": "0dbca17d-21a9-463c-885f-84bdb8338047",
      "name": "Vars",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a042073f-f9e7-4258-80db-360a09c549e4",
              "name": "page",
              "value": "={{ ($('Forward Prev Page Num').isExecuted) ? $('Forward Prev Page Num').first().json.prevPage + 1 : $('Vars').first().json.page }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2896,
        -112
      ],
      "id": "d370b086-6209-4eb9-ab3e-fcf70b59b7bf",
      "name": "Increment Loop Var",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('getaccounts').item.json.database }}",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "insta",
              "condition": "isEmpty"
            },
            {
              "keyName": "insta"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2672,
        -288
      ],
      "id": "84c8c406-e09b-4769-894f-7e0b0c4abec1",
      "name": "Get row(s)",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('getaccounts').item.json.acc_id }}/media",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "REELS"
            },
            {
              "name": "video_url",
              "value": "={{ $json.finalurl }}"
            },
            {
              "name": "caption",
              "value": "={{ $('getaccounts').item.json.default_des}}"
            },
            {
              "name": "access_token",
              "value": "={{ $('getaccounts').item.json.token }}"
            },
            {
              "name": "audio_name",
              "value": "={{ $('getaccounts').item.json.username }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2000,
        -288
      ],
      "id": "fecd9ad7-5fad-4981-8d87-cd5b8752d083",
      "name": "Container HTTP Reels",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "65s10TCHjuQpvOcn",
          "mode": "list",
          "cachedResultName": "accounts",
          "cachedResultUrl": "/projects/COQIBF46Vn0bg2e3/datatables/65s10TCHjuQpvOcn"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "={{ $json.username }}"
            },
            {
              "keyName": "type",
              "keyValue": "insta"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -3344,
        -112
      ],
      "id": "5a0687e5-7112-4f1e-a7b4-4cb2e44af21b",
      "name": "getaccounts",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8248cac9-9cf1-4299-9379-cc115015ff14",
              "name": "username",
              "value": "urban__raja",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3568,
        -112
      ],
      "id": "8823f96e-1387-439a-ae79-7755971788ed",
      "name": "config",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('getaccounts').item.json.database }}",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "filename",
              "keyValue": "={{ $('Get row(s)').item.json.filename }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "insta": "ERROR"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fb",
              "displayName": "fb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "youtube",
              "displayName": "youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "insta",
              "displayName": "insta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -656,
        -160
      ],
      "id": "6768ca13-ae12-4c89-a824-a26e15063918",
      "name": "Update Error",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('getaccounts').item.json.database }}",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "filename",
              "keyValue": "={{ $('Get row(s)').item.json.filename }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "insta": "DONE"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fb",
              "displayName": "fb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "youtube",
              "displayName": "youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "insta",
              "displayName": "insta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -656,
        -448
      ],
      "id": "24cfa18c-f7e1-4c70-b8c0-e5d008910439",
      "name": "update sucess",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://n8n.mohdasif.net/webhook/reaction",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "folder",
              "value": "={{ $('getaccounts').item.json.folder }}"
            },
            {
              "name": "filename",
              "value": "={{ $json.filename }}"
            },
            {
              "name": "root_dir",
              "value": "={{ $('getaccounts').item.json.root_dir }}"
            },
            {
              "name": "OVERLAY_FILE",
              "value": "/home/node/shared/tools/reaction/urbanraja/dance-funny1.mp4"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2448,
        -288
      ],
      "id": "36e33753-1972-4787-bdda-9a11764368c5",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9136f342-4777-4731-b829-a5443381b77b",
              "name": "finalurl",
              "value": "=https://files.mohdasif.net{{ $('getaccounts').item.json.folder }}output/{{ $json.stdout }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2224,
        -288
      ],
      "id": "bb7fc0f0-2b11-4a34-9f6b-de66a3caafbb",
      "name": "finalurl",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('getaccounts').item.json.database }}",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "filename",
              "keyValue": "={{ $('Get row(s)').item.json.filename }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "insta": "DONE"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "insta",
              "displayName": "insta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -208,
        -352
      ],
      "id": "aa9ed501-9700-47b9-a872-0563e19c7bab",
      "name": "Update row(s)",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 11,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 19,
              "triggerAtMinute": 10
            },
            {
              "triggerAtHour": 22,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3792,
        -112
      ],
      "id": "2ede4645-63b1-4359-a32b-8584eb098df1",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "command": "=rm -f {{ $('getaccounts').item.json.root_dir }}{{ $('getaccounts').item.json.folder }}/output/{{ $('Get row(s)').item.json.filename }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -432,
        -352
      ],
      "id": "f0408eeb-b45a-496a-86bb-b47e0482b34b",
      "name": "Execute Command",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "682def4c-2cda-4417-9329-682a8a60feed",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "FINISHED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2096,
        960
      ],
      "id": "0679971c-b8e4-4734-a231-c037723ec0af",
      "name": "✅ Is Container Ready?1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da6bcb63-632a-443a-b5b3-a8b6e1c62871",
              "leftValue": "http",
              "rightValue": "http",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1872,
        864
      ],
      "id": "602d028b-8b2f-480c-849d-2ac47b56e7b8",
      "name": "🔀 HTTP vs FB API Router1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('getaccounts1').item.json.acc_id }}/media_publish",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('getaccounts1').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1648,
        864
      ],
      "id": "c8ae4e0f-3b19-40e0-9822-195f4233d11c",
      "name": "📤 Publish via HTTP API1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2544,
        1024
      ],
      "id": "a6347f22-9246-469c-89a2-6827f0e1ba7a",
      "name": "⏰ Initial Processing Wait1",
      "webhookId": "ced0cb9e-e83a-4a99-879a-098700771c5d"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1648,
        1056
      ],
      "id": "84b5dd4b-3e5a-46c2-9f0c-b5d996ea5158",
      "name": "⏰ Retry Wait Loop1",
      "webhookId": "d1c41684-942c-459d-bbb4-b0710787c5c3"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/{{ $('Container HTTP Reels1').item.json.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "status_code"
            },
            {
              "name": "access_token",
              "value": "={{ $('getaccounts1').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2320,
        1024
      ],
      "id": "2b82c935-4be2-45a8-b682-32e4158d0b8d",
      "name": "🔍 Check Processing Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "682def4c-2cda-4417-9329-682a8a60feed",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1872,
        1056
      ],
      "id": "878d0805-3e0b-4e3c-99ce-0ea0a0126f16",
      "name": "anyError1"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Increment Loop Var1').item.json.page }}",
              "operation": "larger",
              "value2": "=3"
            }
          ]
        }
      },
      "name": "Reached Max?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1648,
        1248
      ],
      "id": "d94971e4-8217-48cc-9615-03aff2a6bcca"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "name": "Wait 2m1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -1200,
        1488
      ],
      "id": "5a5b94f9-ff92-45b7-a7b3-50aa64248f5e",
      "webhookId": "95590b37-1409-421a-9147-78fc45b21e8f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1503b89d-7f11-49fc-86ed-38ed600fc34c",
              "name": "prevPage",
              "value": "={{ $('Increment Loop Var1').first().json.page }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1424,
        1424
      ],
      "id": "9a4c670c-5ff5-43e0-9d6f-c451349eabfe",
      "name": "Forward Prev Page Num1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32a6221a-b000-4b5f-9b93-271c44d542fd",
              "name": "page",
              "value": 1,
              "type": "number"
            },
            {
              "id": "91668535-ba9c-4626-8e64-e7a20644c8e2",
              "name": "pageCount",
              "value": 3,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3888,
        1200
      ],
      "id": "b6152341-219e-46fa-8c78-12b58eddfc70",
      "name": "Vars1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a042073f-f9e7-4258-80db-360a09c549e4",
              "name": "page",
              "value": "={{ ($('Forward Prev Page Num1').isExecuted) ? $('Forward Prev Page Num1').first().json.prevPage + 1 : $('Vars1').first().json.page }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3664,
        1200
      ],
      "id": "ad7b8ca8-13f1-4ce4-9c6e-11e59ebff0cc",
      "name": "Increment Loop Var1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('getaccounts1').item.json.database }}",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "insta",
              "condition": "isEmpty"
            },
            {
              "keyName": "insta"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -3440,
        1024
      ],
      "id": "1f1059e5-9548-4c88-85ee-5a2939f265ec",
      "name": "Get row(s)1",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('getaccounts1').item.json.acc_id }}/media",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "REELS"
            },
            {
              "name": "video_url",
              "value": "={{ $json.finalurl }}"
            },
            {
              "name": "caption",
              "value": "={{ $('getaccounts1').item.json.default_des}}"
            },
            {
              "name": "access_token",
              "value": "={{ $('getaccounts1').item.json.token }}"
            },
            {
              "name": "audio_name",
              "value": "={{ $('getaccounts1').item.json.username }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2768,
        1024
      ],
      "id": "4584c453-56d4-4896-bbf3-f9052a4a302e",
      "name": "Container HTTP Reels1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "65s10TCHjuQpvOcn",
          "mode": "list",
          "cachedResultName": "accounts",
          "cachedResultUrl": "/projects/COQIBF46Vn0bg2e3/datatables/65s10TCHjuQpvOcn"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "={{ $json.username }}"
            },
            {
              "keyName": "type",
              "keyValue": "insta"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -4112,
        1200
      ],
      "id": "d6fda2a5-9c52-4a53-923c-c01ca383db3c",
      "name": "getaccounts1",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8248cac9-9cf1-4299-9379-cc115015ff14",
              "name": "username",
              "value": "urban__raja",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4336,
        1200
      ],
      "id": "91c0bf7b-3ae4-4fce-b1a7-5b83d2d7ac96",
      "name": "config1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('getaccounts1').item.json.database }}",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "filename",
              "keyValue": "={{ $('Get row(s)1').item.json.filename }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "insta": "ERROR"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fb",
              "displayName": "fb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "youtube",
              "displayName": "youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "insta",
              "displayName": "insta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1424,
        1152
      ],
      "id": "42dbb3ef-acd1-4165-ae14-c191f464b01a",
      "name": "Update Error1",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('getaccounts1').item.json.database }}",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "filename",
              "keyValue": "={{ $('Get row(s)1').item.json.filename }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "insta": "DONE"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fb",
              "displayName": "fb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "youtube",
              "displayName": "youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "insta",
              "displayName": "insta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1424,
        864
      ],
      "id": "1ec66718-b6dd-4f00-af64-3f5c4fab5e92",
      "name": "update sucess1",
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "https://n8n.mohdasif.net/webhook/reaction",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "folder",
              "value": "={{ $('getaccounts1').item.json.folder }}"
            },
            {
              "name": "filename",
              "value": "={{ $json.filename }}"
            },
            {
              "name": "root_dir",
              "value": "={{ $('getaccounts1').item.json.root_dir }}"
            },
            {
              "name": "OVERLAY_FILE",
              "value": "/home/node/shared/tools/reaction/urbanraja/dance-funny1.mp4"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3216,
        1024
      ],
      "id": "a9146bc8-e090-44e8-9d0e-c568dec675c5",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9136f342-4777-4731-b829-a5443381b77b",
              "name": "finalurl",
              "value": "=https://files.mohdasif.net{{ $('getaccounts1').item.json.folder }}output/{{ $json.stdout }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2992,
        1024
      ],
      "id": "6a85499c-6f41-4755-9049-3337f1b56221",
      "name": "finalurl1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('getaccounts1').item.json.database }}",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "filename",
              "keyValue": "={{ $('Get row(s)1').item.json.filename }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "insta": "DONE"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "insta",
              "displayName": "insta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -976,
        960
      ],
      "id": "8348879a-fc6f-4b87-8d8a-10dfc478b371",
      "name": "Update row(s)1",
      "executeOnce": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 11,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 19,
              "triggerAtMinute": 10
            },
            {
              "triggerAtHour": 22,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -4560,
        1200
      ],
      "id": "06f45185-4d99-4c7b-9b02-64e2881ed9c4",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "command": "=rm -f {{ $('getaccounts1').item.json.root_dir }}{{ $('getaccounts1').item.json.folder }}/output/{{ $('Get row(s)1').item.json.filename }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1200,
        960
      ],
      "id": "98dc5525-b243-41b5-af07-f5721afd09a8",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "chatId": "=-1003013552191",
        "text": "=INSTAGRAM ERROR",
        "additionalFields": {}
      },
      "id": "8b9c259c-bc89-41f7-b812-48b04e674cf3",
      "name": "Notify in channel",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -1200,
        1232
      ],
      "webhookId": "41264c12-622c-45c1-badd-1e0834773b7f",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "MKWHBWBE6qCBEPNb",
          "name": "Telegram account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "hellomdasif",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "o9ORuJvZYNmMmFfK"
  },
  "shared": [
    {
      "createdAt": "2025-09-28T10:53:48.463Z",
      "updatedAt": "2025-09-28T10:53:48.463Z",
      "role": "workflow:owner",
      "workflowId": "SyrIxiYg4qNwKYzk",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-09-10T11:25:38.298Z",
      "updatedAt": "2025-09-10T11:25:38.298Z",
      "id": "r3ZdTHEV3fmr7eAz",
      "name": "instagram"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-07T09:21:16.000Z",
  "versionId": "171b9a98-8054-4c01-a220-e729d0b90dd2"
}