t3uWTowjq8iTmGGv.json
{
  "active": true,
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "config_json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'getData'": {
      "main": [
        [
          {
            "node": "BuildPuzzle2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_json": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "Call 'getData'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuildPuzzle2": {
      "main": [
        [
          {
            "node": "FINAL_POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINAL_POST": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-10-19T03:41:57.930Z",
  "id": "t3uWTowjq8iTmGGv",
  "isArchived": false,
  "meta": null,
  "name": "paheli-Dadi-facebook",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3,
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        -816
      ],
      "id": "a9c67bcf-e63b-4e90-8f75-b5bed9ae5fc6",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BsyOPmLgdOcI8rtZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/BsyOPmLgdOcI8rtZ",
          "cachedResultName": "getData"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        256,
        -816
      ],
      "id": "0ec1dba6-fd2e-4040-9981-1a67d97c5c0a",
      "name": "Call 'getData'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8s68NCy6GF9p0u8T",
          "mode": "list",
          "cachedResultUrl": "/workflow/8s68NCy6GF9p0u8T",
          "cachedResultName": "POST FACEBOOK - PARALLEL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        672,
        -816
      ],
      "id": "8e1d57ff-3184-409a-afcd-dfc133c33242",
      "name": "FINAL_POST"
    },
    {
      "parameters": {
        "jsCode": "return{\n  \"username\": \"paheli\",\n  \"type\": \"fb\",\n  \"title\": \"false\"\n}\n;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -816
      ],
      "id": "dce67fca-ca6b-458f-bb3d-44b878e22ff7",
      "name": "config_json"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"username\": \"{{ $('config_json').item.json.username }}\",\n  \"type\": \"{{ $('config_json').item.json.type }}\",\n  \"title\":\"{{ $('config_json').item.json.title }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -816
      ],
      "id": "0ac6eed6-e4ee-4ed5-a592-9a8403ebdb74",
      "name": "config"
    },
    {
      "parameters": {
        "url": "https://n8n.mohdasif.net/webhook/puzzle",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"folder\": \"{{ $json.accounts[0].folder }}\",\n  \"filename\": \"{{ $json.pending_url[0].filename }}\",\n  \"root_dir\": \"{{ $json.accounts[0].root_dir }}\",\n  \"username\": \"{{ $json.accounts[0].username }}\",\n  \"database_name\": \"{{ $json.accounts[0].database_name }}\",\n   \"type\": \"{{ $('config_json').item.json.type }}\",\n  \"id\": \"{{ $json.pending_url[0].id }}\",\n  \"title\":\"{{ $('config_json').item.json.title }}\"\n\n\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -816
      ],
      "id": "be002c69-f969-4fa2-85e5-052bd7b7a639",
      "name": "BuildPuzzle2"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "hellomdasif",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "o9ORuJvZYNmMmFfK"
  },
  "shared": [
    {
      "createdAt": "2025-10-19T03:41:57.934Z",
      "updatedAt": "2025-10-19T03:41:57.934Z",
      "role": "workflow:owner",
      "workflowId": "t3uWTowjq8iTmGGv",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        16
      ]
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": [
        21
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2025-10-07T12:13:49.553Z",
      "updatedAt": "2025-10-07T12:13:49.553Z",
      "id": "RDHUqhF8fggE5BPq",
      "name": "FACEBOOK-INSTA"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-20T05:17:52.000Z",
  "versionId": "8df1f0c4-d545-402b-9c4e-7e320d8e8d33"
}