TxrMNVmU2kcbe131.json
{
  "active": false,
  "connections": {
    "✅ Is Container Ready?": {
      "main": [
        [
          {
            "node": "Publish Reel1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "anyError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Initial Processing Wait": {
      "main": [
        [
          {
            "node": "Check Status of Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Retry Wait Loop": {
      "main": [
        [
          {
            "node": "Check Status of Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "anyError": {
      "main": [
        [
          {
            "node": "Reached Max?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⏰ Retry Wait Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reached Max?": {
      "main": [
        [
          {
            "node": "Update Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward Prev Page Num",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2m": {
      "main": [
        [
          {
            "node": "Increment Loop Var",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward Prev Page Num": {
      "main": [
        [
          {
            "node": "Wait 2m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars": {
      "main": [
        [
          {
            "node": "Increment Loop Var",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Loop Var": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Output video file without watermark1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "getaccounts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Error": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update sucess": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "finalurl": {
      "main": [
        [
          {
            "node": "Container HTTP Reels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getaccounts1": {
      "main": [
        [
          {
            "node": "Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output video file without watermark1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "finalurl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container HTTP Reels": {
      "main": [
        [
          {
            "node": "Upload the Reel2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status of Upload1": {
      "main": [
        [
          {
            "node": "✅ Is Container Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload the Reel2": {
      "main": [
        [
          {
            "node": "⏰ Initial Processing Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Reel1": {
      "main": [
        [
          {
            "node": "update sucess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-01T04:27:46.205Z",
  "id": "TxrMNVmU2kcbe131",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "morph.tales1-FACEBOOK",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "682def4c-2cda-4417-9329-682a8a60feed",
              "leftValue": "={{ $json.status.video_status }}",
              "rightValue": "upload_complete",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        -1904
      ],
      "id": "e56252b4-1b1b-4e8f-bb6e-f6da377c52bf",
      "name": "✅ Is Container Ready?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -608,
        -1840
      ],
      "id": "5407a870-1a0c-4d1f-9909-60e24ff7364d",
      "name": "⏰ Initial Processing Wait",
      "webhookId": "815a251e-d054-42e1-a392-1e591090a5ae"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        288,
        -1808
      ],
      "id": "5abbb6eb-4edc-4fb9-8a6d-b6cfde35fd01",
      "name": "⏰ Retry Wait Loop",
      "webhookId": "448b7dd2-8690-42fc-916a-10778caed742"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "682def4c-2cda-4417-9329-682a8a60feed",
              "leftValue": "={{ $json.status.video_status }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        -1808
      ],
      "id": "123aee3d-f2af-40e3-b380-086428782f10",
      "name": "anyError"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Increment Loop Var').item.json.page }}",
              "operation": "larger",
              "value2": "=3"
            }
          ]
        }
      },
      "name": "Reached Max?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        288,
        -1616
      ],
      "id": "770d08be-3bca-4503-ab9b-ea628c49e30b"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "name": "Wait 2m",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        736,
        -1376
      ],
      "id": "a9faac2a-f5e9-4970-b776-747b20bd165d",
      "webhookId": "b46d95ee-6dad-46b4-b354-cc2d9b0339c2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1503b89d-7f11-49fc-86ed-38ed600fc34c",
              "name": "prevPage",
              "value": "={{ $('Increment Loop Var').first().json.page }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -1456
      ],
      "id": "c0d1e9c2-5b98-4680-b9b1-0fc1ac18e8d0",
      "name": "Forward Prev Page Num"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32a6221a-b000-4b5f-9b93-271c44d542fd",
              "name": "page",
              "value": 1,
              "type": "number"
            },
            {
              "id": "91668535-ba9c-4626-8e64-e7a20644c8e2",
              "name": "pageCount",
              "value": 3,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2624,
        -1664
      ],
      "id": "b82cf641-7365-49e2-9457-67ec2599b22d",
      "name": "Vars"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a042073f-f9e7-4258-80db-360a09c549e4",
              "name": "page",
              "value": "={{ ($('Forward Prev Page Num').isExecuted) ? $('Forward Prev Page Num').first().json.prevPage + 1 : $('Vars').first().json.page }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2400,
        -1664
      ],
      "id": "f472c5b4-1b35-4cdf-9ffe-a0171daa8679",
      "name": "Increment Loop Var"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('getaccounts1').item.json.database }}",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "fb",
              "condition": "isEmpty"
            },
            {
              "keyName": "fb"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2176,
        -1840
      ],
      "id": "1d5f599b-8b58-4d9a-9b72-677b41da7ae2",
      "name": "Get row(s)",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8248cac9-9cf1-4299-9379-cc115015ff14",
              "name": "username",
              "value": "morph.tales1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3072,
        -1664
      ],
      "id": "e458581a-c06a-46be-ad40-2fa3ef6a1179",
      "name": "config"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('getaccounts1').item.json.database }}",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "filename",
              "keyValue": "={{ $('Get row(s)').item.json.filename }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "insta": "ERROR"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fb",
              "displayName": "fb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "youtube",
              "displayName": "youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "insta",
              "displayName": "insta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        512,
        -1712
      ],
      "id": "bc70f15d-24ec-49e6-a1fc-d8a37dadc8f1",
      "name": "Update Error",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('getaccounts1').item.json.database }}",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "DirectUrl",
              "keyValue": "={{ $('Get row(s)').item.json.DirectUrl }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fb": "DONE"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DirectUrl",
              "displayName": "DirectUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "download",
              "displayName": "download",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fb",
              "displayName": "fb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        448,
        -2000
      ],
      "id": "4d165ce8-deac-46d0-b4ae-143cb64cb272",
      "name": "update sucess",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9136f342-4777-4731-b829-a5443381b77b",
              "name": "finalurl",
              "value": "=https://files.mohdasif.net{{ $('getaccounts1').item.json.folder }}output/{{ $json.stdout }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        -1824
      ],
      "id": "a953d991-86e4-4387-9db6-96cccbc6082b",
      "name": "finalurl"
    },
    {
      "parameters": {
        "command": "=rm -f {{ $('getaccounts1').item.json.root_dir }}{{ $('getaccounts1').item.json.folder }}/output/{{ $('Get row(s)').item.json.id }}.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        736,
        -1904
      ],
      "id": "47a1d0e4-b359-4f69-ab37-9a614874a2ad",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "65s10TCHjuQpvOcn",
          "mode": "list",
          "cachedResultName": "accounts",
          "cachedResultUrl": "/projects/COQIBF46Vn0bg2e3/datatables/65s10TCHjuQpvOcn"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "={{ $json.username }}"
            },
            {
              "keyName": "type",
              "keyValue": "fb"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2848,
        -1664
      ],
      "id": "f16c24a8-e949-468a-b627-8a924d3f974c",
      "name": "getaccounts1",
      "executeOnce": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            },
            {
              "triggerAtHour": 5
            },
            {
              "triggerAtHour": 21
            },
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3296,
        -1664
      ],
      "id": "0be876cd-cb7a-44cb-a0dc-4df9051d7472",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $json.download }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
            },
            {
              "name": "Referer",
              "value": "https://www.tiktok.com/"
            },
            {
              "name": "Accept",
              "value": "video/mp4,video/webm,video/*;q=0.9,application/octet-stream;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.5"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "fabb897e-0a9a-4fa0-acbb-29d9f0876579",
      "name": "Output video file without watermark1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1952,
        -1840
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('getaccounts1').item.json.root_dir + 'FACEBOOK/morphtales/' + $json.id + '.mp4' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1728,
        -1840
      ],
      "id": "278cca99-e045-4d12-bbff-bdbcdba201f4",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "url": "https://n8n.mohdasif.net/webhook/reaction",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "folder",
              "value": "={{ $('getaccounts1').item.json.folder }}"
            },
            {
              "name": "filename",
              "value": "={{ $('Get row(s)').item.json.id }}.mp4"
            },
            {
              "name": "root_dir",
              "value": "={{ $('getaccounts1').item.json.root_dir }}"
            },
            {
              "name": "OVERLAY_FILE",
              "value": "={{ $('getaccounts1').item.json.root_dir }}tools/reaction/scooby/final.mp4"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1504,
        -1808
      ],
      "id": "a8c86ef5-9051-47a9-a0d2-33f823dcd562",
      "name": "HTTP Request1",
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v23.0/{{ $('Container HTTP Reels').item.json.video_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "status"
            },
            {
              "name": "access_token",
              "value": "={{ $('getaccounts1').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        -1840
      ],
      "id": "33f80137-782e-4116-ab7b-bf88c6be56c7",
      "name": "Check Status of Upload1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $('getaccounts1').item.json.acc_id }}/video_reels",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('getaccounts1').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"upload_phase\":\"start\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1056,
        -1840
      ],
      "id": "32e375cc-9a11-4089-82e1-21d442549fa5",
      "name": "Container HTTP Reels"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Container HTTP Reels').item.json.upload_url }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('getaccounts1').item.json.token }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "file_url",
              "value": "={{ $('finalurl').item.json.finalurl }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -832,
        -1840
      ],
      "id": "a0f6dca7-7901-44db-ad65-20cf08310b88",
      "name": "Upload the Reel2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $('getaccounts1').item.json.acc_id }}/video_reels",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('getaccounts1').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_id\": \"{{ $('Container HTTP Reels').item.json.video_id }}\",\n  \"upload_phase\": \"finish\",\n  \"video_state\": \"PUBLISHED\",\n  \"description\": \"{{ $('Get row(s)').item.json.title }}\"\n\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -2000
      ],
      "id": "5e1c1d44-c4d5-4745-aaed-32f62a951809",
      "name": "Publish Reel1"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "hellomdasif",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-01T04:27:46.212Z",
      "updatedAt": "2025-10-01T04:27:46.212Z",
      "role": "workflow:owner",
      "workflowId": "TxrMNVmU2kcbe131",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-09-11T20:40:54.952Z",
      "updatedAt": "2025-09-11T20:40:54.952Z",
      "id": "KislEXiiNTebxxB8",
      "name": "Facebook"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-06T13:01:54.000Z",
  "versionId": "32d7c754-fe5b-4aba-a62e-b9cb3322fe63"
}