txwCt2QY0SxRL8ay.json
{
  "active": false,
  "connections": {
    "pending_url": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "accounts": {
      "main": [
        [
          {
            "node": "pending_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "Prepared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepared": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "input": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop": {
      "main": [
        [],
        [
          {
            "node": "accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-06T11:15:24.248Z",
  "id": "txwCt2QY0SxRL8ay",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ReelSense - FB - MAX",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM {{ $('accounts').item.json.database_name }}\nWHERE  {{ $json.type }} IS NULL\n   OR {{ $json.type }} = ''\nLIMIT 1;\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1968,
        -640
      ],
      "id": "60eb4174-237c-41f6-8732-5dbdb3bb6352",
      "name": "pending_url",
      "executeOnce": false,
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2864,
        -568
      ],
      "id": "03cb1605-f239-4fe7-b877-0fb838f0d402",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM accounts\nWHERE username = '{{ $json.username }}'\n  AND type = '{{ $json.type }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -2192,
        -640
      ],
      "id": "01041fd9-10af-4ddb-9c3f-6bea639f17a7",
      "name": "accounts",
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "235e1dfd-b7bb-40e9-a708-f495c8361968",
              "name": "file",
              "value": "={{$env.BASE_DIR}}{{ $('accounts').item.json.folder }}v2.py",
              "type": "string"
            },
            {
              "id": "ad67ccd6-fa0b-493f-b7f5-d3c517e7a402",
              "name": "input_image",
              "value": "={{$env.BASE_DIR}}{{ $('accounts').item.json.folder }}input.jpg ",
              "type": "string"
            },
            {
              "id": "53643391-bd34-45ae-92f2-b09c42d88bee",
              "name": "input_video",
              "value": "={{$env.BASE_DIR}}{{ $('accounts').item.json.folder }}input/{{ String(Math.floor(Math.random() * 28) + 1).padStart(3, '0') }}.mp4",
              "type": "string"
            },
            {
              "id": "ef82fb45-0b77-4793-bdca-fa5a565eb7f4",
              "name": "output__video",
              "value": "={{$env.BASE_DIR}}{{ $('accounts').item.json.folder }}output/{{ $json.id }}.mp4",
              "type": "string"
            },
            {
              "id": "e4456bd9-36e6-490d-8067-18c207ebf21b",
              "name": "audio",
              "value": "={{$env.BASE_DIR}}{{ $('accounts').item.json.folder }}audio.mp3",
              "type": "string"
            },
            {
              "id": "0e5c521a-b028-434d-8602-0d9ac00cde6d",
              "name": "finalurl",
              "value": "=https://files.mohdasif.net/{{ $('accounts').item.json.folder }}/{{ $json.filename }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1744,
        -640
      ],
      "id": "52736ca8-e3b4-48f8-9cf7-bec2f4b5214c",
      "name": "config"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM {{ $('accounts').item.json.database_name }}\nWHERE {{ $('input').item.json.type }} IS NULL\n   OR {{ $('input').item.json.type }} = ''\nLIMIT 1;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1520,
        -640
      ],
      "id": "0864595e-6c74-400f-b8d2-cc2983a3f61b",
      "name": "Prepared",
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      type: \"fb\",\n      username:\"ReelSense\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2640,
        -568
      ],
      "id": "ce297228-e943-4cc6-b971-7da2f9f634df",
      "name": "input",
      "notes": "return [\n  {\n    json: {\n      type: \"fb\",\n      username:\"urban__raja\"\n    }\n  },\n  {\n    json: {\n      type: \"insta\",\n      username:\"urban__raja\"\n    }\n  }\n];\n"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2416,
        -568
      ],
      "id": "d75aeadd-fffb-4da6-9231-c913683e568a",
      "name": "loop"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1xiPfhzJCG69yDe8NUAykc9W4sT4AazIo3GGep4oXv0k",
          "mode": "list",
          "cachedResultName": "PROCESS FACEBOOK",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xiPfhzJCG69yDe8NUAykc9W4sT4AazIo3GGep4oXv0k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xiPfhzJCG69yDe8NUAykc9W4sT4AazIo3GGep4oXv0k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "public": "={{ $('config').item.json.finalurl }}",
            "username": "={{ $('accounts').item.json.username }}",
            "access_token": "={{ $('accounts').item.json.token }}",
            "database_name": "={{ $('accounts').item.json.database_name }}",
            "status": "Pending",
            "acc_id": "={{ $('accounts').item.json.acc_id }}",
            "title": "={{ $json.path }}",
            "description": "={{ $json.path }}",
            "type": "={{ $('input').item.json.type }}"
          },
          "matchingColumns": [
            "acc_id"
          ],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "public",
              "displayName": "public",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "database_name",
              "displayName": "database_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "acc_id",
              "displayName": "acc_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1296,
        -568
      ],
      "id": "02a8688c-52d5-49a4-b15c-9913e706ee77",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3U1X4hjIcv7PxVl",
          "name": "hellomohdasif@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "# WHERE NO DOWNLOAD",
        "height": 80,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2192,
        -800
      ],
      "typeVersion": 1,
      "id": "1344b7e0-6f16-446f-9076-109f70dfc91b",
      "name": "Sticky Note"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "hellomdasif",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "o9ORuJvZYNmMmFfK",
    "executionTimeout": 600
  },
  "shared": [
    {
      "createdAt": "2025-10-06T11:15:24.252Z",
      "updatedAt": "2025-10-06T11:15:24.252Z",
      "role": "workflow:owner",
      "workflowId": "txwCt2QY0SxRL8ay",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        6
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-07T05:50:20.000Z",
  "versionId": "f743a648-b6f4-4d3a-9fb8-3d9f016f9c00"
}