VOT49NMjSpjjf2YJ.json
{
  "active": false,
  "connections": {
    "pending_url": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "accounts": {
      "main": [
        [
          {
            "node": "pending_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "download",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "public": {
      "main": [
        [
          {
            "node": "Prepared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepared": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "input": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop": {
      "main": [
        [],
        [
          {
            "node": "accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download": {
      "main": [
        [
          {
            "node": "public",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-06T10:08:40.404Z",
  "id": "VOT49NMjSpjjf2YJ",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "MOHD ASIF - FB - MAX",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM {{ $('accounts').item.json.database_name }}\nWHERE  {{ $json.type }} IS NULL\n   OR {{ $json.type }} = ''\nLIMIT 1;\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1968,
        -640
      ],
      "id": "3c25389a-e9cf-44aa-b815-fc1346f5ebc7",
      "name": "pending_url",
      "executeOnce": false,
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2864,
        -560
      ],
      "id": "f56e399e-6be2-48c6-8033-d380780e250c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM accounts\nWHERE username = '{{ $json.username }}'\n  AND type = '{{ $json.type }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -2192,
        -640
      ],
      "id": "558d41e7-2e39-4adc-af8b-ce0f67156290",
      "name": "accounts",
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4e754235-9b9f-4f02-85b2-a52409c1e5e5",
              "leftValue": "={{ $('pending_url').item.json.public }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c6d77762-53c7-484a-845c-b5f966a55a94",
              "leftValue": "={{ $('pending_url').item.json.public }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1520,
        -640
      ],
      "id": "1021c91c-77fd-467f-a1b6-4db38781b2ec",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE {{ $('accounts').item.json.database_name }}\nSET public = \"{{ $('config').item.json.finalurl }}\"\nWHERE id = {{ $('pending_url').item.json.id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1072,
        -704
      ],
      "id": "702a5f1c-1c24-4f5d-8721-cc1d28ec4e39",
      "name": "public",
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "235e1dfd-b7bb-40e9-a708-f495c8361968",
              "name": "file",
              "value": "={{$env.BASE_DIR}}{{ $('accounts').item.json.folder }}v2.py",
              "type": "string"
            },
            {
              "id": "ad67ccd6-fa0b-493f-b7f5-d3c517e7a402",
              "name": "input_image",
              "value": "={{$env.BASE_DIR}}{{ $('accounts').item.json.folder }}input.jpg ",
              "type": "string"
            },
            {
              "id": "53643391-bd34-45ae-92f2-b09c42d88bee",
              "name": "input_video",
              "value": "={{$env.BASE_DIR}}{{ $('accounts').item.json.folder }}input/{{ String(Math.floor(Math.random() * 28) + 1).padStart(3, '0') }}.mp4",
              "type": "string"
            },
            {
              "id": "ef82fb45-0b77-4793-bdca-fa5a565eb7f4",
              "name": "output__video",
              "value": "={{$env.BASE_DIR}}{{ $('accounts').item.json.folder }}output/{{ $json.id }}.mp4",
              "type": "string"
            },
            {
              "id": "e4456bd9-36e6-490d-8067-18c207ebf21b",
              "name": "audio",
              "value": "={{$env.BASE_DIR}}{{ $('accounts').item.json.folder }}audio.mp3",
              "type": "string"
            },
            {
              "id": "0e5c521a-b028-434d-8602-0d9ac00cde6d",
              "name": "finalurl",
              "value": "=https://files.mohdasif.net{{ $('accounts').item.json.folder }}output/{{ $json.filename }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1744,
        -640
      ],
      "id": "ee7b24b6-7df1-4e1e-84a8-6d474a74ef9a",
      "name": "config"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM {{ $('accounts').item.json.database_name }}\nWHERE {{ $('input').item.json.type }} IS NULL\n   OR {{ $('input').item.json.type }} = ''\nLIMIT 1;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -848,
        -624
      ],
      "id": "a88e28f9-bf3c-4506-84ac-b6ba6e7f679f",
      "name": "Prepared",
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      type: \"fb\",\n      username:\"iammohdasifx\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2640,
        -560
      ],
      "id": "69e0866f-595c-4650-93fd-408d9fd71d2c",
      "name": "input",
      "notes": "return [\n  {\n    json: {\n      type: \"fb\",\n      username:\"urban__raja\"\n    }\n  },\n  {\n    json: {\n      type: \"insta\",\n      username:\"urban__raja\"\n    }\n  }\n];\n"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2416,
        -560
      ],
      "id": "454a2a7c-bd04-4600-85c7-5c89203c4f42",
      "name": "loop"
    },
    {
      "parameters": {
        "url": "=https://n8n.mohdasif.net/webhook/reaction2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"folder\": \"{{ $('accounts').item.json.folder }}\",\n  \"filename\": \"{{ $('pending_url').item.json.filename }}\",\n  \"root_dir\": \"{{ $('accounts').item.json.root_dir }}\",\n  \"OVERLAY_FILE\": \"{{ $('accounts').item.json.root_dir }}tools/reaction/asif/1.mp4\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1296,
        -704
      ],
      "id": "0b496af2-8299-4cad-880f-9987dbd2ae65",
      "name": "download"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1xiPfhzJCG69yDe8NUAykc9W4sT4AazIo3GGep4oXv0k",
          "mode": "list",
          "cachedResultName": "PROCESS FACEBOOK",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xiPfhzJCG69yDe8NUAykc9W4sT4AazIo3GGep4oXv0k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xiPfhzJCG69yDe8NUAykc9W4sT4AazIo3GGep4oXv0k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "public": "={{ $json.public }}",
            "username": "={{ $('accounts').item.json.username }}",
            "access_token": "={{ $('accounts').item.json.token }}",
            "database_name": "={{ $('accounts').item.json.database_name }}",
            "status": "Pending",
            "acc_id": "={{ $('accounts').item.json.acc_id }}",
            "title": "={{ $('accounts').item.json.default_title }}",
            "description": "={{ $('accounts').item.json.default_des }}",
            "type": "={{ $('input').item.json.type }}"
          },
          "matchingColumns": [
            "acc_id"
          ],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "public",
              "displayName": "public",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "database_name",
              "displayName": "database_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "acc_id",
              "displayName": "acc_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -624,
        -560
      ],
      "id": "4771e6dd-7801-4a73-91f1-55e61133c3ef",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3U1X4hjIcv7PxVl",
          "name": "hellomohdasif@gmail.com"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "hellomdasif",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "o9ORuJvZYNmMmFfK",
    "executionTimeout": 600
  },
  "shared": [
    {
      "createdAt": "2025-10-06T10:08:40.408Z",
      "updatedAt": "2025-10-06T10:08:40.408Z",
      "role": "workflow:owner",
      "workflowId": "VOT49NMjSpjjf2YJ",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        18
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-07T05:49:59.000Z",
  "versionId": "0a9fe6f2-a56c-4760-8b4e-068adad28739"
}