vyiCd4emNT4CK6zw.json
{
  "active": false,
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pending_url": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars": {
      "main": [
        [
          {
            "node": "pending_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "accounts": {
      "main": [
        [
          {
            "node": "Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "command": {
      "main": [
        [
          {
            "node": "public",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "download",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "public": {
      "main": [
        [
          {
            "node": "Prepared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepared": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-05T17:00:53.401Z",
  "id": "vyiCd4emNT4CK6zw",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Urban Raja - PRO",
  "nodes": [
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('accounts').item.json.root_dir }}{{ $('accounts').item.json.folder }}input.jpg",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1232,
        -432
      ],
      "id": "447504b6-1e9b-41cb-ac12-488de661872e",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM {{ $('accounts').item.json.database_name }}\nWHERE fb IS NULL\n   OR fb = ''\nLIMIT 1;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -2128,
        -360
      ],
      "id": "1a37d2ff-9ca8-4666-97a1-3fb1ca9efd0f",
      "name": "pending_url",
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32a6221a-b000-4b5f-9b93-271c44d542fd",
              "name": "page",
              "value": 1,
              "type": "number"
            },
            {
              "id": "91668535-ba9c-4626-8e64-e7a20644c8e2",
              "name": "pageCount",
              "value": 3,
              "type": "number"
            },
            {
              "id": "b35840da-9056-4aa4-8764-401dd7dcf3a5",
              "name": "filename",
              "value": "={{ String(Math.floor(Math.random() * 28) + 1).padStart(3, '0') }}.mp4",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2352,
        -360
      ],
      "id": "9f598710-6ad9-4f0f-ab99-0bd5cf0f3aa8",
      "name": "Vars"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            },
            {
              "triggerAtHour": 9
            },
            {
              "triggerAtHour": 15
            },
            {
              "triggerAtHour": 19
            },
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2800,
        -360
      ],
      "id": "94686887-9894-47c0-9944-c89e067a03ff",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM accounts\nWHERE username = 'urban__raja'\n  AND type = 'fb'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -2576,
        -360
      ],
      "id": "6fa5c4d2-1f46-4105-bb2a-4169f64ef1d7",
      "name": "accounts",
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('pending_url').item.json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1456,
        -432
      ],
      "id": "69f014ba-0982-463e-916c-78764de08656",
      "name": "download"
    },
    {
      "parameters": {
        "command": "=python3  {{ $json.file }} \\\n-i  {{ $json.input_image }} \\\n-b  {{ $json.input_video }} \\\n-o  {{ $json.output__video }} \\\n--cut-percentage 40 \\\n--cut-shape random \\\n--hole-color red \\\n--movement-style random \\\n--piece-scale 1.5 \\\n--fps 30 \\\n--margin-top 45 \\\n--audio-volume 10 \\\n--audio-file {{ $json.audio }} \\\n--audio-custom-volume 100 \\\n--alignment-hold-time 10 \\\n--image-coverage 95"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1008,
        -432
      ],
      "id": "acccfc78-b941-4f1e-8cf0-ed5042d7c9b4",
      "name": "command"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4e754235-9b9f-4f02-85b2-a52409c1e5e5",
              "leftValue": "={{ $('pending_url').item.json.public }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c6d77762-53c7-484a-845c-b5f966a55a94",
              "leftValue": "={{ $('pending_url').item.json.public }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1680,
        -360
      ],
      "id": "1b67de10-83ed-4f32-95c7-c3f76acf8fdd",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE {{ $('accounts').item.json.database_name }}\nSET public = \"{{ $('config').item.json.finalurl }}\"\nWHERE id = {{ $('pending_url').item.json.id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -784,
        -432
      ],
      "id": "a4824d89-cb1a-4ce2-bb24-f752b0d5eb53",
      "name": "public",
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "235e1dfd-b7bb-40e9-a708-f495c8361968",
              "name": "file",
              "value": "={{$env.BASE_DIR}}{{ $('accounts').item.json.folder }}v2.py",
              "type": "string"
            },
            {
              "id": "ad67ccd6-fa0b-493f-b7f5-d3c517e7a402",
              "name": "input_image",
              "value": "={{$env.BASE_DIR}}{{ $('accounts').item.json.folder }}input.jpg ",
              "type": "string"
            },
            {
              "id": "53643391-bd34-45ae-92f2-b09c42d88bee",
              "name": "input_video",
              "value": "={{$env.BASE_DIR}}{{ $('accounts').item.json.folder }}input/{{ String(Math.floor(Math.random() * 28) + 1).padStart(3, '0') }}.mp4",
              "type": "string"
            },
            {
              "id": "ef82fb45-0b77-4793-bdca-fa5a565eb7f4",
              "name": "output__video",
              "value": "={{$env.BASE_DIR}}{{ $('accounts').item.json.folder }}output/{{ $json.id }}.mp4",
              "type": "string"
            },
            {
              "id": "e4456bd9-36e6-490d-8067-18c207ebf21b",
              "name": "audio",
              "value": "={{$env.BASE_DIR}}{{ $('accounts').item.json.folder }}audio.mp3",
              "type": "string"
            },
            {
              "id": "0e5c521a-b028-434d-8602-0d9ac00cde6d",
              "name": "finalurl",
              "value": "=https://files.mohdasif.net{{ $('accounts').item.json.folder }}output/{{ $('pending_url').item.json.id }}.mp4",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1904,
        -360
      ],
      "id": "d499d8da-996e-42b6-ab79-7e4f7c3276a8",
      "name": "config"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1xiPfhzJCG69yDe8NUAykc9W4sT4AazIo3GGep4oXv0k",
          "mode": "list",
          "cachedResultName": "PROCESS FACEBOOK",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xiPfhzJCG69yDe8NUAykc9W4sT4AazIo3GGep4oXv0k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xiPfhzJCG69yDe8NUAykc9W4sT4AazIo3GGep4oXv0k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "public": "={{ $json.public }}",
            "username": "={{ $('accounts').item.json.username }}",
            "access_token": "={{ $('accounts').item.json.token }}",
            "database_name": "={{ $('accounts').item.json.database_name }}",
            "status": "Pending",
            "acc_id": "={{ $('accounts').item.json.acc_id }}",
            "title": "={{ $('accounts').item.json.default_title }}",
            "description": "={{ $('accounts').item.json.default_des }}"
          },
          "matchingColumns": [
            "username"
          ],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "public",
              "displayName": "public",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "database_name",
              "displayName": "database_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "acc_id",
              "displayName": "acc_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -336,
        -360
      ],
      "id": "945ffb16-a76d-43ec-8a71-454c78c3e1ab",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3U1X4hjIcv7PxVl",
          "name": "hellomohdasif@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM {{ $('accounts').item.json.database_name }}\nWHERE fb IS NULL\n   OR fb = ''\nLIMIT 1;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -560,
        -336
      ],
      "id": "7a87c789-e80c-4b07-8979-a355b4752c25",
      "name": "Prepared",
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "hellomdasif",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "o9ORuJvZYNmMmFfK"
  },
  "shared": [
    {
      "createdAt": "2025-10-05T17:00:53.407Z",
      "updatedAt": "2025-10-05T17:00:53.407Z",
      "role": "workflow:owner",
      "workflowId": "vyiCd4emNT4CK6zw",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        18
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-07T09:21:16.000Z",
  "versionId": "2b05823a-7e06-4164-a14f-39563e28dd08"
}