WSSWGJz3zljwUFHY.json
{
  "active": true,
  "connections": {
    "✅ Is Container Ready?": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "anyError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Initial Processing Wait": {
      "main": [
        [
          {
            "node": "Check_Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Retry Wait Loop": {
      "main": [
        [
          {
            "node": "Check_Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "anyError": {
      "main": [
        [
          {
            "node": "update_error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⏰ Retry Wait Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_sucess": {
      "main": [
        [
          {
            "node": "UPDATE PROCESS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload": {
      "main": [
        [
          {
            "node": "set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Status": {
      "main": [
        [
          {
            "node": "✅ Is Container Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_process_list": {
      "main": [
        [
          {
            "node": "update_processing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE PROCESS": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish": {
      "main": [
        [
          {
            "node": "update_sucess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_error": {
      "main": [
        [
          {
            "node": "UPDATE PROCESS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "check_process_list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "check_process_list",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Publish via HTTP API": {
      "main": [
        [
          {
            "node": "update_sucess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "get_container_id_insta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get_container_id_fb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "📤 Publish via HTTP API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_container_id_fb": {
      "main": [
        [
          {
            "node": "upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_container_id_insta": {
      "main": [
        [
          {
            "node": "set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set2": {
      "main": [
        [
          {
            "node": "⏰ Initial Processing Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set1": {
      "main": [
        [
          {
            "node": "⏰ Initial Processing Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-06T07:22:41.991Z",
  "id": "WSSWGJz3zljwUFHY",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "POST FACEBOOK - MAX",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "682def4c-2cda-4417-9329-682a8a60feed",
              "leftValue": "={{ JSON.stringify($json.status) }}",
              "rightValue": "upload_complete",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b7fa2490-02f3-409a-8bf0-5ffab4acf9b9",
              "leftValue": "={{ JSON.stringify($json.status) }}",
              "rightValue": "Finished",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        32,
        -2128
      ],
      "id": "7c215e7b-af00-4b4e-af86-710cc6940cef",
      "name": "✅ Is Container Ready?"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -448,
        -2128
      ],
      "id": "46e23ab3-02b2-4cff-acaf-7694c336f31c",
      "name": "⏰ Initial Processing Wait",
      "webhookId": "b760023a-486e-4f1e-bf71-6f2a1fa0cd8f"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        864,
        -1936
      ],
      "id": "56873876-f005-497e-9337-81fc58c4fe91",
      "name": "⏰ Retry Wait Loop",
      "webhookId": "f330d227-d7b3-485c-bcaa-0a875c0b5ec3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "682def4c-2cda-4417-9329-682a8a60feed",
              "leftValue": "={{ $json.status.video_status }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        256,
        -1936
      ],
      "id": "060c1cd3-bdf2-4987-87dc-eee37c5c2d90",
      "name": "anyError"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE {{ $('Loop Over Items').item.json.database_name }}\nSET  {{ $('Loop Over Items').item.json.type }}= 'DONE'\nWHERE id = '{{ $('Loop Over Items').item.json.id }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        704,
        -2272
      ],
      "id": "7a857a54-53e0-4caf-8a6e-fc041fa9b330",
      "name": "update_sucess",
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('get_container_id_fb').item.json.upload_url }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Loop Over Items').item.json.access_token }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "file_url",
              "value": "={{ $('Loop Over Items').item.json.public }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -864,
        -1920
      ],
      "id": "0f7bc0db-10c2-4dba-b874-dd3b9af00866",
      "name": "upload"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v23.0/{{ $json.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "status"
            },
            {
              "name": "access_token",
              "value": "={{ $('Loop Over Items').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        -2128
      ],
      "id": "8db8dc67-bd9d-42a5-8aef-7ebace38a5d5",
      "name": "Check_Status"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xiPfhzJCG69yDe8NUAykc9W4sT4AazIo3GGep4oXv0k",
          "mode": "list",
          "cachedResultName": "PROCESS FACEBOOK",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xiPfhzJCG69yDe8NUAykc9W4sT4AazIo3GGep4oXv0k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xiPfhzJCG69yDe8NUAykc9W4sT4AazIo3GGep4oXv0k/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "Pending"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1760,
        -2032
      ],
      "id": "c6aa8056-77d6-43a7-89fd-5e659de66820",
      "name": "check_process_list",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3U1X4hjIcv7PxVl",
          "name": "hellomohdasif@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1xiPfhzJCG69yDe8NUAykc9W4sT4AazIo3GGep4oXv0k",
          "mode": "list",
          "cachedResultName": "PROCESS FACEBOOK",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xiPfhzJCG69yDe8NUAykc9W4sT4AazIo3GGep4oXv0k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xiPfhzJCG69yDe8NUAykc9W4sT4AazIo3GGep4oXv0k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "DONE",
            "acc_id": "={{ $('Loop Over Items').item.json.acc_id }}"
          },
          "matchingColumns": [
            "acc_id"
          ],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "public",
              "displayName": "public",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "database_name",
              "displayName": "database_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "acc_id",
              "displayName": "acc_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        -2176
      ],
      "id": "18d77a77-ded0-4cd7-8e05-378b1bc11fd6",
      "name": "UPDATE PROCESS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3U1X4hjIcv7PxVl",
          "name": "hellomohdasif@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0//{{ $('Loop Over Items').item.json.acc_id }}/video_reels",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Loop Over Items').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_id\": \"{{ $json.id }}\",\n  \"upload_phase\": \"finish\",\n  \"video_state\": \"PUBLISHED\",\n  \"description\": \"{{ $('Loop Over Items').item.json.title.replace(/\\n/g, ' ') }}\"\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -2176
      ],
      "id": "811d3a96-3929-460f-b3a7-7c4afc78cf3b",
      "name": "Publish"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE {{ $('check_process_list').item.json.database_name }}\nSET fb = 'ERROR'\nWHERE public = '{{ $('check_process_list').item.json.public }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        480,
        -1984
      ],
      "id": "c02a4f78-91cf-4e6d-ad62-72afd068c134",
      "name": "update_error",
      "credentials": {
        "mySql": {
          "id": "aH3xsjJBm3OWPFrR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1152,
        -1984
      ],
      "id": "6509ab98-1d72-47ba-ab1f-cef0df7bfe10",
      "name": "Wait",
      "webhookId": "c5022a6b-dbef-4f44-8087-f30f298d7c08"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1984,
        -2032
      ],
      "id": "d3fdd238-2f05-4199-b9ca-a74bce82019a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1536,
        -1984
      ],
      "id": "7f923117-752b-4a7c-9237-69ad25b30ea5",
      "name": "Loop Over Items",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1xiPfhzJCG69yDe8NUAykc9W4sT4AazIo3GGep4oXv0k",
          "mode": "list",
          "cachedResultName": "PROCESS FACEBOOK",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xiPfhzJCG69yDe8NUAykc9W4sT4AazIo3GGep4oXv0k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xiPfhzJCG69yDe8NUAykc9W4sT4AazIo3GGep4oXv0k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "status": "Processing"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "public",
              "displayName": "public",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "database_name",
              "displayName": "database_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "acc_id",
              "displayName": "acc_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1536,
        -2176
      ],
      "id": "81d384e7-19fc-47f8-aec8-d2118d5d387d",
      "name": "update_processing",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3U1X4hjIcv7PxVl",
          "name": "hellomohdasif@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('Loop Over Items').item.json.acc_id }}/media_publish",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('Loop Over Items').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -2368
      ],
      "id": "8d12047d-42d4-45a2-98ac-5c4c3cba384b",
      "name": "📤 Publish via HTTP API"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Loop Over Items').item.json.type }}",
                    "rightValue": "insta",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d67cc145-9ea5-401d-b37f-ec122bbb5696"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1deeb985-1ac3-422e-92e1-4e8b406b88b8",
                    "leftValue": "={{ $('Loop Over Items').item.json.type }}",
                    "rightValue": "fb",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1312,
        -2064
      ],
      "id": "c89bd806-b3ed-433b-a5b7-63b3b08dd876",
      "name": "Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Loop Over Items').item.json.type }}",
                    "rightValue": "insta",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d67cc145-9ea5-401d-b37f-ec122bbb5696"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1deeb985-1ac3-422e-92e1-4e8b406b88b8",
                    "leftValue": "={{ $('Loop Over Items').item.json.type }}",
                    "rightValue": "fb",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        256,
        -2272
      ],
      "id": "dc73225f-406d-463e-be24-27d13f453501",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $('check_process_list').item.json.acc_id }}/video_reels",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('check_process_list').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"upload_phase\":\"start\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1120,
        -1920
      ],
      "id": "9a4dea5f-299c-4e46-8179-5436030fdac5",
      "name": "get_container_id_fb"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('Loop Over Items').item.json.acc_id }}/media",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "REELS"
            },
            {
              "name": "video_url",
              "value": "={{ $('Loop Over Items').item.json.public }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Loop Over Items').item.json.description }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('check_process_list').item.json.access_token }}"
            },
            {
              "name": "audio_name",
              "value": "={{ $('Loop Over Items').item.json.username }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1104,
        -2208
      ],
      "id": "0d3b531c-bb1f-4e21-bc48-1f09ea495783",
      "name": "get_container_id_insta"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "016dbdd3-7b5a-48fa-b1bc-640d629b1fa5",
              "name": "id",
              "value": "={{ $('get_container_id_fb').item.json.video_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        -1920
      ],
      "id": "8a9c7321-deb4-40ce-bc26-a1af6517bfac",
      "name": "set2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "016dbdd3-7b5a-48fa-b1bc-640d629b1fa5",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        -2208
      ],
      "id": "2ee8b855-25f7-4fa2-adca-2cfeaaa25048",
      "name": "set1"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-10-07T13:50:02.007+05:30",
          "Readable date": "October 7th 2025, 1:50:02 pm",
          "Readable time": "1:50:02 pm",
          "Day of week": "Tuesday",
          "Year": "2025",
          "Month": "October",
          "Day of month": "07",
          "Hour": "13",
          "Minute": "50",
          "Second": "02",
          "Timezone": "Asia/Kolkata (UTC+05:30)"
        }
      }
    ]
  },
  "repo": {
    "owner": "hellomdasif",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "o9ORuJvZYNmMmFfK",
    "executionTimeout": 600
  },
  "shared": [
    {
      "createdAt": "2025-10-06T07:22:42.002Z",
      "updatedAt": "2025-10-06T07:22:42.002Z",
      "role": "workflow:owner",
      "workflowId": "WSSWGJz3zljwUFHY",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        18
      ]
    },
    "node:Google Sheets Trigger": {
      "documentId": "1xiPfhzJCG69yDe8NUAykc9W4sT4AazIo3GGep4oXv0k",
      "sheetId": 0,
      "lastRevision": 69,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1xiPfhzJCG69yDe8NUAykc9W4sT4AazIo3GGep4oXv0k&revision=69&exportFormat=xlsx"
    }
  },
  "tags": [
    {
      "createdAt": "2025-10-07T12:13:49.553Z",
      "updatedAt": "2025-10-07T12:13:49.553Z",
      "id": "RDHUqhF8fggE5BPq",
      "name": "FACEBOOK-INSTA"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-07T12:13:50.000Z",
  "versionId": "93350b12-123b-47ae-827e-7fc5495a6007"
}