xUaEt7zIa3RFpJRE.json
{
  "active": false,
  "connections": {
    "6. Wait 1 Second": {
      "main": [
        [
          {
            "node": "2. Process One by One1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Set User IDs1": {
      "main": [
        [
          {
            "node": "2. Process One by One1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Get 5 Latest Posts1": {
      "main": [
        [
          {
            "node": "4. Extract URLs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Extract URLs1": {
      "main": [
        [
          {
            "node": "5. Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Process One by One1": {
      "main": [
        [
          {
            "node": "3. Get 5 Latest Posts1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "todownload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "CONFIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Google Sheets1": {
      "main": [
        [
          {
            "node": "6. Wait 1 Second",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download1": {
      "main": [
        [
          {
            "node": "SaveToFtp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "status1": {
      "main": [
        [
          {
            "node": "Wait 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch URLs": {
      "main": [
        [
          {
            "node": "Download1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "SaveToFtp1": {
      "main": [
        [
          {
            "node": "status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFIG": {
      "main": [
        [
          {
            "node": "1. Set User IDs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3": {
      "main": [
        [
          {
            "node": "Batch URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "todownload1": {
      "main": [
        [
          {
            "node": "Batch URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-20T20:19:03.194Z",
  "id": "xUaEt7zIa3RFpJRE",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "React & Roll fetch links - Instagram",
  "nodes": [
    {
      "parameters": {},
      "id": "c977be9a-c9f9-4e0d-af24-6314dc122b89",
      "name": "6. Wait 1 Second",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1072,
        560
      ],
      "webhookId": "1b477f85-8607-47e4-b4f8-0a394828742e"
    },
    {
      "parameters": {
        "functionCode": "// Define the two user IDs you want to process\nconst userIds = [\n  \"dnzioyt\"\n\n];\n\n// This will create two separate items for the next nodes to process\nreturn userIds.map(id => ({\n  json: {\n    userId: id\n  }\n}));\n"
      },
      "id": "05982d3c-8a9f-47ec-a2be-75069bf48981",
      "name": "1. Set User IDs1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -2192,
        544
      ]
    },
    {
      "parameters": {
        "url": "=https://instagram-social-api.p.rapidapi.com/v1/reels?username_or_id_or_url={{ $json.userId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RapidAPI-Key",
              "value": "4721a0ae82msh02ee2c23ceab8b0p16b0b3jsne0a8e2769ad2"
            },
            {
              "name": "X-RapidAPI-Host",
              "value": "instagram-social-api.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "id": "665cb0c6-a977-4448-83dd-c5490af2c745",
      "name": "3. Get 5 Latest Posts1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1744,
        416
      ]
    },
    {
      "parameters": {
        "functionCode": "// Get the array of video items from the input\nconst itemsArray = items[0].json.data.items;\n\n// Map over the array to create a new, cleaner array of objects\nconst extractedData = itemsArray.map(item => {\n  return {\n    code: item.code,\n    title: item.caption?.text || \"No caption\",  // Handle missing/empty caption\n    video_url: item.video_url, // Temporary download URL\n    reel_url: `https://www.instagram.com/reel/${item.code}` // Permanent shareable URL\n  };\n});\n\n// Return the new array\nreturn extractedData;\n"
      },
      "id": "2727815a-a841-416c-96be-985f14fa8fb7",
      "name": "4. Extract URLs1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1520,
        416
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "a94c8d78-07ea-482e-a095-cb02ca93c3e2",
      "name": "2. Process One by One1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -1968,
        528
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2640,
        544
      ],
      "id": "84a86f89-efcf-4b64-94b3-81eee6c9dfaf",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ik03echcZh99Ba7lE-YvOIIhSVKtZlyfVAKM-rIp1yI",
          "mode": "list",
          "cachedResultName": "Youtube-React_Roll_01",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ik03echcZh99Ba7lE-YvOIIhSVKtZlyfVAKM-rIp1yI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ik03echcZh99Ba7lE-YvOIIhSVKtZlyfVAKM-rIp1yI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reel_url": "={{ $json.reel_url }}",
            "title": "={{ $json.title }}",
            "video_url": "={{ $json.video_url }}",
            "code": "={{ $json.code }}"
          },
          "matchingColumns": [
            "reel_url"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_url",
              "displayName": "video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reel_url",
              "displayName": "reel_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "code",
              "displayName": "code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "downloaded",
              "displayName": "downloaded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "public",
              "displayName": "public",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "published",
              "displayName": "published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d3d99f38-5ada-4668-abe9-7326ebd4e36a",
      "name": "5. Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        -1296,
        416
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3U1X4hjIcv7PxVl",
          "name": "hellomohdasif@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.video_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
            },
            {
              "name": "Referer",
              "value": "https://www.tiktok.com/"
            },
            {
              "name": "Accept",
              "value": "video/mp4,video/webm,video/*;q=0.9,application/octet-stream;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.5"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 120000
        }
      },
      "id": "a6772232-817a-4211-9253-a2b13bc740a4",
      "name": "Download1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -624,
        224
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ik03echcZh99Ba7lE-YvOIIhSVKtZlyfVAKM-rIp1yI",
          "mode": "list",
          "cachedResultName": "Youtube-React_Roll_01",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ik03echcZh99Ba7lE-YvOIIhSVKtZlyfVAKM-rIp1yI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uvLy2aqh4nZcSnls1B9lMDcCLvu9poQWJ6uzpZELALw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reel_url": "={{ $json.reel_url }}",
            "downloaded": "DONE",
            "public": "={{ $('CONFIG').item.json.main_url }}{{ $json.code }}.mp4"
          },
          "matchingColumns": [
            "reel_url"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_url",
              "displayName": "video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reel_url",
              "displayName": "reel_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "code",
              "displayName": "code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "downloaded",
              "displayName": "downloaded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "public",
              "displayName": "public",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "published",
              "displayName": "published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b70e6091-bdb8-456c-b23a-02ba1a7d9f74",
      "name": "status1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        -176,
        224
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3U1X4hjIcv7PxVl",
          "name": "hellomohdasif@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {
          "reset": false
        }
      },
      "id": "5854374a-b5a8-4e73-9b73-a72439b4ab03",
      "name": "Batch URLs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -832,
        320
      ]
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "upload",
        "path": "={{ $('CONFIG').item.json.dir }}/{{ $json.code }}.mp4"
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -400,
        224
      ],
      "id": "74127507-3a63-415b-b346-23a274bd3a21",
      "name": "SaveToFtp1",
      "credentials": {
        "sftp": {
          "id": "C8w0MijZfYD2NPtq",
          "name": "SFTP"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44e39d3e-3738-48b3-89b8-c22bca4772a4",
              "name": "dir",
              "value": "/upload/dnzioyt/",
              "type": "string"
            },
            {
              "id": "937e8788-ad7c-49e9-acbe-ba635a51c704",
              "name": "main_url",
              "value": "https://files.mohdasif.net/dnzioyt/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2416,
        544
      ],
      "id": "b4f4b2e4-0482-43f0-aa3f-0b5771440db2",
      "name": "CONFIG"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        48,
        368
      ],
      "id": "4ec08a25-2540-4e64-af9a-4a11ecc905cf",
      "name": "Wait 3",
      "webhookId": "9df785c5-411f-45a1-92e0-ecd7f101bea6"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ik03echcZh99Ba7lE-YvOIIhSVKtZlyfVAKM-rIp1yI",
          "mode": "list",
          "cachedResultName": "Youtube-React_Roll_01",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ik03echcZh99Ba7lE-YvOIIhSVKtZlyfVAKM-rIp1yI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ik03echcZh99Ba7lE-YvOIIhSVKtZlyfVAKM-rIp1yI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "downloaded"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "bdddc585-5747-49d4-a7ce-b87a28fff269",
      "name": "todownload1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        -1120,
        112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3U1X4hjIcv7PxVl",
          "name": "hellomohdasif@gmail.com"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "hellomdasif",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-20T20:19:03.201Z",
      "updatedAt": "2025-09-20T20:19:03.201Z",
      "role": "workflow:owner",
      "workflowId": "xUaEt7zIa3RFpJRE",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        6,
        8
      ]
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-09-10T07:49:32.166Z",
      "updatedAt": "2025-09-10T07:49:32.166Z",
      "id": "kmJ9RrYGObSkXZT9",
      "name": "tiktok"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-07T12:04:32.000Z",
  "versionId": "6a3fb60f-af07-4510-a117-17c8b5dea8aa"
}