XZT929X6elpQQeFI.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Config5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config5": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Google Drive — List Files4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive — List Files4": {
      "main": [
        [
          {
            "node": "Filter mp7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter mp7": {
      "main": [
        [
          {
            "node": "Build Row Object4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Row Object4": {
      "main": [
        [
          {
            "node": "Google Sheets — AppendOrUpdate (ensure rows)4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets — AppendOrUpdate (ensure rows)4": {
      "main": [
        [
          {
            "node": "Google Sheets — Read Rows4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets — Read Rows4": {
      "main": [
        [
          {
            "node": "Select One To Process4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select One To Process4": {
      "main": [
        [
          {
            "node": "HTTP Request (download)4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (download)4": {
      "main": [
        [
          {
            "node": "Write Binary File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File4": {
      "main": [
        [
          {
            "node": "Prepare Sheet Update4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Update4": {
      "main": [
        [
          {
            "node": "Google Sheets — AppendOrUpdate (final update)4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets — AppendOrUpdate (final update)4": {
      "main": [
        [
          {
            "node": "Set Config1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config1": {
      "main": [
        [
          {
            "node": "IG Create Container1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Create Container1": {
      "main": [
        [
          {
            "node": "Init Poll Vars1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Poll Vars1": {
      "main": [
        [
          {
            "node": "IG Check Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Check Status1": {
      "main": [
        [
          {
            "node": "IF Finished?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Finished?1": {
      "main": [
        [
          {
            "node": "IG Publish1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inc Attempts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Publish1": {
      "main": [
        [
          {
            "node": "set_AfterIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_AfterIG": {
      "main": [
        [
          {
            "node": "fb_FbUploadVideo_afterIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fb_FbUploadVideo_afterIG": {
      "main": [
        [
          {
            "node": "Prepare Final Sheet Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Final Sheet Row": {
      "main": [
        [
          {
            "node": "sheet_SavePublishIDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inc Attempts1": {
      "main": [
        [
          {
            "node": "IF More Polls?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF More Polls?1": {
      "main": [
        [
          {
            "node": "Wait (loop)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Error?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (loop)1": {
      "main": [
        [
          {
            "node": "IG Check Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-06T06:42:09.696Z",
  "id": "XZT929X6elpQQeFI",
  "isArchived": true,
  "meta": null,
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "id": "91e59a70-a4d7-401a-a173-4a40a3d4544e",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        -176
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "GOOGLE_DRIVE_FOLDER_ID",
              "value": "1KHv4wZAzt_OaWETkhzbxz37fF27VOkmN"
            },
            {
              "name": "GOOGLE_SHEET_ID",
              "value": "14EzuQ_35iuNhdVzKnIBcW6uL5vGsCvKwRfL9oVXtsmE"
            },
            {
              "name": "SHEET_NAME",
              "value": "0"
            },
            {
              "name": "FILES_DIR",
              "value": "/files"
            },
            {
              "name": "FILES_URL",
              "value": "https://files.mohdasif.net"
            }
          ]
        },
        "options": {}
      },
      "id": "f030cd37-c1a8-460f-aa43-b7dd66074145",
      "name": "Set Config5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        352,
        -176
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Generate one clean 5-digit random number and create filename/local_path\nfunction random5Digits() {\n  return Math.floor(10000 + Math.random() * 90000);\n}\n\nconst randomNumber = random5Digits();\nconst filename = randomNumber + '.mp4';\nconst local_path = '/files/' + filename;\n\nreturn {\n  json: {\n    randomNumber,\n    filename,\n    local_path,\n    status: 'PROCESSING',\n    direct_url: $json.direct_url // keep direct_url for HTTP Request if needed\n  }\n};\n"
      },
      "id": "cfb85e90-a248-4414-bdc2-22a59a8d6329",
      "name": "Code3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -176
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "mode": "expression",
            "value": "={{ $node['Set Config5'].json.GOOGLE_DRIVE_FOLDER_ID }}"
          }
        },
        "options": {
          "fields": [
            "id",
            "name",
            "mimeType",
            "createdTime"
          ]
        }
      },
      "id": "eae641d6-5d6a-4300-922f-f19567b200a4",
      "name": "Google Drive — List Files4",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        800,
        -176
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HzZikzrKPy60clC6",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().filter(item => item.json.mimeType === 'video/mp4' || (item.json.name||'').toLowerCase().endsWith('.mp4'));"
      },
      "id": "98bf7599-9ec5-416e-9c6e-36f3bfa90c8c",
      "name": "Filter mp7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1008,
        -176
      ]
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  const id = item.json.id;\n  const name = item.json.name || 'video.mp4';\n  const timestamp = Date.now();\n  const safeName = name.replace(/[^a-zA-Z0-9._-]/g, '_').slice(0,240);\n  const finalName = `${timestamp}-BigCreative-${safeName}`;\n\n  out.push({ json: {\n    fileid: id,\n    original_name: name,\n    filename: finalName,\n    direct_url: `https://drive.google.com/uc?export=download&id=${id}`,\n    created_at: new Date().toISOString()\n    // NOTE: intentionally do NOT set status/downloaded_at/public_url here\n  }});\n}\nreturn out;"
      },
      "id": "f0fbb01e-d58b-4842-b90e-239cb3a00315",
      "name": "Build Row Object4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -176
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "mode": "list",
          "value": "={{ $node['Set Config5'].json.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "mode": "list",
          "value": "={{ $node['Set Config5'].json.SHEET_NAME }}"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "fileid"
          ],
          "schema": [
            {
              "id": "fileid",
              "displayName": "fileid"
            },
            {
              "id": "filename",
              "displayName": "filename"
            },
            {
              "id": "direct_url",
              "displayName": "direct_url"
            },
            {
              "id": "mp4_url",
              "displayName": "mp4_url"
            },
            {
              "id": "created_at",
              "displayName": "created_at"
            },
            {
              "id": "original_name",
              "displayName": "original_name"
            },
            {
              "id": "downloaded_at",
              "displayName": "downloaded_at"
            },
            {
              "id": "public_url",
              "displayName": "public_url"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8b97ee7b-fc74-4b27-9250-483eca4142da",
      "name": "Google Sheets — AppendOrUpdate (ensure rows)4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1472,
        -176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3U1X4hjIcv7PxVl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14EzuQ_35iuNhdVzKnIBcW6uL5vGsCvKwRfL9oVXtsmE",
          "mode": "list",
          "cachedResultName": "pCloud_Instagram_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14EzuQ_35iuNhdVzKnIBcW6uL5vGsCvKwRfL9oVXtsmE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14EzuQ_35iuNhdVzKnIBcW6uL5vGsCvKwRfL9oVXtsmE/edit#gid=0"
        },
        "options": {}
      },
      "id": "7a48b5e0-c856-4923-bd9d-190c423ca979",
      "name": "Google Sheets — Read Rows4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        128,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3U1X4hjIcv7PxVl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Function node — choose one row that is NOT DOWNLOADED and prepare for processing\n// Input: items from Google Sheets — Read Rows2\nconst rows = $input.all().map(i => i.json || {});\n\n// Find first not-downloaded row\nlet chosen = rows.find(r => !r.status || (typeof r.status === 'string' && r.status.trim().toUpperCase() !== 'DOWNLOADED')) || null;\nif (!chosen) return []; // nothing to process\n\n// Ensure filename exists; if not, leave blank (the 'Code' node may generate a local filename)\nlet filename = chosen.filename || '';\n\n// If filename missing, try to use a generated name from upstream 'Code' (that node runs earlier)\nif (!filename && $node['Code3'] && $node['Code3'].first() && $node['Code3'].first().json && $node['Code3'].first().json.filename) {\n  filename = $node['Code3'].first().json.filename;\n}\n\n// Read files dir from Set Config (fallback to '/files')\nlet filesDir = '/files';\ntry{\n  if ($node['Set Config5'] && $node['Set Config5'].json && $node['Set Config5'].json.FILES_DIR) {\n    filesDir = String($node['Set Config5'].json.FILES_DIR).trim() || '/files';\n  }\n} catch(e) { filesDir = '/files'; }\n\n// build local_path\nconst local_path = (filesDir.replace(/\\/$/, '') || '/files') + '/' + (filename || '');\n\nchosen.local_path = local_path;\nchosen.status = 'PROCESSING';\n\n// ensure we return the same shape the rest of your flow expects\nreturn [{ json: chosen }];"
      },
      "id": "570af16b-1cc5-43c6-9fc4-1c6a34ef1d4c",
      "name": "Select One To Process4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        96
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.direct_url }}",
        "responseFormat": "file",
        "options": {}
      },
      "id": "554e89f9-5b82-4fcf-94ab-53c2a42d1126",
      "name": "HTTP Request (download)4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        592,
        96
      ]
    },
    {
      "parameters": {
        "fileName": "=/files/{{ $('Code3').first().json.filename }}",
        "options": {}
      },
      "id": "3667f70e-e1ed-4b5b-a2ee-c2e59441c8f7",
      "name": "Write Binary File4",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        848,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const filename = $('Code3').first().json.filename || $json.filename || '';\nconst fileid = $json.fileid || '';\nconst direct_url = $json.direct_url || '';\nconst now = new Date().toISOString();\n\n// Build public URL with domain from config or fallback\nconst filesUrl = ($node['Set Config5'] && $node['Set Config5'].json && $node['Set Config5'].json.FILES_URL) ? String($node['Set Config5'].json.FILES_URL).trim() : 'https://files.mohdasif.net';\nconst publicUrl = filesUrl.replace(/\\/$/, '') + (filename ? ('/' + filename) : '');\n\nconst status = filename ? 'DOWNLOADED' : 'ERROR';\n\nreturn [{\n  json: {\n    fileid,\n    filename,\n    status,\n    downloaded_at: now,\n    public_url: publicUrl,\n    direct_url\n  }\n}];\n"
      },
      "id": "bcd00d65-334e-4cc7-9c7a-9d846c6729b0",
      "name": "Prepare Sheet Update4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        96
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "mode": "list",
          "value": "={{ $node['Set Config5'].json.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "mode": "list",
          "value": "={{ $node['Set Config5'].json.SHEET_NAME }}"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "fileid"
          ],
          "schema": [
            {
              "id": "fileid",
              "displayName": "fileid"
            },
            {
              "id": "filename",
              "displayName": "filename"
            },
            {
              "id": "direct_url",
              "displayName": "direct_url"
            },
            {
              "id": "status",
              "displayName": "status"
            },
            {
              "id": "downloaded_at",
              "displayName": "downloaded_at"
            },
            {
              "id": "public_url",
              "displayName": "public_url"
            },
            {
              "id": "created_at",
              "displayName": "created_at"
            }
          ]
        },
        "options": {}
      },
      "id": "b400eaf5-3e68-482e-b2df-789ebfbce6ea",
      "name": "Google Sheets — AppendOrUpdate (final update)4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1360,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3U1X4hjIcv7PxVl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "IG_USER_ID",
              "value": "17841454629202811"
            },
            {
              "name": "IG_ACCESS_TOKEN",
              "value": "EAAIk2nRZB8F8BPZAAYtfLu4hIxhmED4T1R6GsZCIBlcVrqSmPGoOjrcmbeEw2G44llZCo5m0GHcp03DJl0FbJZB9ZBoQC0NwDapEbDs932kQKAu1s6dg55ZCv6tJfu31T5of5FYFZBr1CLAj5Vaf4ZAZAhODbTXkL6qIvuAYaZClY4ZBNBgejodTRFthqtQEUEe7"
            },
            {
              "name": "DIRECT_URL",
              "value": "={{ $json.public_url }}"
            },
            {
              "name": "CAPTION",
              "value": "Test via n8n 🤖 #reels #viral"
            }
          ]
        },
        "options": {}
      },
      "id": "e74bf57f-0115-4eb8-8aa4-ef7eadd0a927",
      "name": "Set Config1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -160,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{'https://graph.facebook.com/v21.0/' + $json.IG_USER_ID + '/media'}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "REELS"
            },
            {
              "name": "video_url",
              "value": "={{$json.DIRECT_URL}}"
            },
            {
              "name": "caption",
              "value": "={{$json.CAPTION}}"
            },
            {
              "name": "access_token",
              "value": "={{$json.IG_ACCESS_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "b83cda50-267b-4fea-8055-4a8ad87ecf6b",
      "name": "IG Create Container1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        96,
        848
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "CmDYlZ89za45GZVg",
          "name": "reactsaga"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    creation_id: $item(0).$node['IG Create Container1'].json.id,\n    attempts: 0,\n    max_attempts: 20,\n    sleep_sec: 6\n  }\n}];\n"
      },
      "id": "4a9f3220-24ef-47dd-a184-b3bae6333dd6",
      "name": "Init Poll Vars1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        528
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://graph.facebook.com/v21.0/' + $items('Init Poll Vars1')[0].json.creation_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "status_code,status"
            },
            {
              "name": "access_token",
              "value": "={{$items('Set Config1')[0].json.IG_ACCESS_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "df0dde2e-4f45-49b6-a2a0-8070149e657c",
      "name": "IG Check Status1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        496,
        528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "={{$json.status_code}}",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "da04b258-3bd1-45b4-8dca-ce86ec95b04b",
              "leftValue": "={{$json.status_code}}",
              "rightValue": "FINISHED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dbd7fa06-09cc-40f2-87b4-61f9263ac591",
      "name": "IF Finished?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        912,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{'https://graph.facebook.com/v21.0/' + $items('Set Config1')[0].json.IG_USER_ID + '/media_publish'}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{$items('Init Poll Vars1')[0].json.creation_id}}"
            },
            {
              "name": "access_token",
              "value": "={{$items('Set Config1')[0].json.IG_ACCESS_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "cc696e81-6250-49e5-86af-d10f4b6d749d",
      "name": "IG Publish1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1168,
        512
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "4qua9PnedvSfPjwM",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "={{$json.status_code}}",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "469a9882-a7a3-48ac-b5fc-f377c8d0ae48",
              "leftValue": "={{$json.status_code}}",
              "rightValue": "ERROR",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9e36ae3a-8272-430c-9f22-7c530067ead2",
      "name": "IF Error?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "/* Increment attempts from persistent Init Poll Vars so creation_id is preserved */\nconst prev = $items('Init Poll Vars1')[0].json || {};\nreturn [{\n  json: {\n    creation_id: prev.creation_id,\n    attempts: (prev.attempts || 0) + 1,\n    max_attempts: prev.max_attempts || 20,\n    sleep_sec: prev.sleep_sec || 6\n  }\n}];"
      },
      "id": "a444ab93-0cbd-4f4f-8a8e-8dc739dedbe5",
      "name": "Inc Attempts1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        1104
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.attempts}}",
              "operation": "smaller",
              "value2": "={{$json.max_attempts}}"
            }
          ]
        },
        "options": {}
      },
      "id": "3b0f10e2-509a-4c3a-a5da-243bd6ecf0e2",
      "name": "IF More Polls?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        928,
        1008
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "98ad3d37-d491-48dd-b1b2-7e86033c9fb7",
      "name": "Wait (loop)1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1312,
        1136
      ],
      "webhookId": "b1b63ae5-4cd7-4e12-bdfe-e04a6b045b1d"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "fileid",
              "value": "={{ $items('Prepare Sheet Update4')[0].json.fileid }}"
            },
            {
              "name": "filename",
              "value": "={{ $items('Prepare Sheet Update4')[0].json.filename }}"
            },
            {
              "name": "public_url",
              "value": "={{ $items('Prepare Sheet Update4')[0].json.public_url }}"
            },
            {
              "name": "ig_creation_id",
              "value": "={{ $items('Init Poll Vars1')[0].json.creation_id }}"
            },
            {
              "name": "ig_media_id",
              "value": "={{ $json.id || $items('IG Publish1')[0].json.id }}"
            },
            {
              "name": "PAGE_ID",
              "value": "102723221205773"
            },
            {
              "name": "PAGE_ACCESS_TOKEN",
              "value": "EAAVPe8yZBZBXYBPVSAAJsZAlJHgmWVbvRDkbx3wka0kMdDtB1adw1uV7vhqRXLI43IqIvDTTAiOcCy7KSO4Ki8wP8TzM5eE2LIZAZC0QoP6yfSWkIAWbydEXlV9tdLtwbufgWIYbTT8AWm5TNXnAWpgdgejd82D50Caul6Skp932jiuqiK8ZAaXIq9qROatHWRt52JLLdlZBNOEoV1LoZAyty9m1tCg2EbhotdHZAbwZDZD"
            },
            {
              "name": "CAPTION",
              "value": "={{ $items('Set Config1')[0].json.CAPTION }}"
            },
            {
              "name": "status",
              "value": "PUBLISHED"
            },
            {
              "name": "published_at",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7bcc05e7-576d-46de-9b3c-a56500117b7e",
      "name": "set_AfterIG",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1456,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{'https://graph-video.facebook.com/v21.0/' + $json.PAGE_ID + '/videos'}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_url",
              "value": "={{ $json.public_url }}"
            },
            {
              "name": "description",
              "value": "={{ $json.CAPTION || 'Uploaded via n8n' }}"
            },
            {
              "name": "=access_token",
              "value": "={{ $json.PAGE_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ca3d5d49-d098-4184-9a0a-133b302691b7",
      "name": "fb_FbUploadVideo_afterIG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1760,
        352
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "qLytrID6kZbKauFA",
          "name": "new"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  fileid: $items('Prepare Sheet Update4')[0].json.fileid || '',\n  filename: $items('Prepare Sheet Update4')[0].json.filename || '',\n  public_url: $items('Prepare Sheet Update4')[0].json.public_url || '',\n  ig_creation_id: $items('Init Poll Vars1')[0].json.creation_id || '',\n  ig_media_id: $items('IG Publish1')[0].json.id || '',\n  fb_video_id: $json.id || '',\n  status: 'PUBLISHED',\n  published_at: new Date().toISOString()\n}}];"
      },
      "id": "234c2e78-8a00-4760-b9d1-0ece79b0373e",
      "name": "Prepare Final Sheet Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        352
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "mode": "list",
          "value": "={{ $node['Set Config5'].json.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "mode": "list",
          "value": "={{ $node['Set Config5'].json.SHEET_NAME }}"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "fileid"
          ],
          "schema": [
            {
              "id": "fileid",
              "displayName": "fileid"
            },
            {
              "id": "filename",
              "displayName": "filename"
            },
            {
              "id": "public_url",
              "displayName": "public_url"
            },
            {
              "id": "ig_creation_id",
              "displayName": "ig_creation_id"
            },
            {
              "id": "ig_media_id",
              "displayName": "ig_media_id"
            },
            {
              "id": "fb_video_id",
              "displayName": "fb_video_id"
            },
            {
              "id": "status",
              "displayName": "status"
            },
            {
              "id": "published_at",
              "displayName": "published_at"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d527df6f-3e30-48d3-b8a6-e72dc792d9c5",
      "name": "sheet_SavePublishIDs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2352,
        352
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3U1X4hjIcv7PxVl",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "hellomdasif",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-06T06:42:09.701Z",
      "updatedAt": "2025-09-06T06:42:09.701Z",
      "role": "workflow:owner",
      "workflowId": "XZT929X6elpQQeFI",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-07T02:20:59.000Z",
  "versionId": "2a5fabf3-b773-48d5-87be-bf2f8a179110"
}