Backup_2025-10-07/Facts Mind 99 - YOUTUBE.json
{
  "createdAt": "2025-09-21T05:35:23.197Z",
  "updatedAt": "2025-10-06T11:30:39.000Z",
  "id": "eHu8IA5VKNOApa0x",
  "name": "Facts Mind 99 - YOUTUBE",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "217b69e3-98ec-49a2-8fde-372dd1bc1848",
              "name": "node",
              "value": "17841416753691295",
              "type": "string"
            },
            {
              "id": "2caebe7c-a2d3-428e-b129-fcfbe66854e5",
              "name": "post_type",
              "value": "http_reel",
              "type": "string"
            },
            {
              "id": "a17a5c94-d9ae-44f8-9d56-fb55d17efe5",
              "name": "image_url",
              "value": "https://cdn.pixabay.com/photo/2023/11/07/22/59/building-8373618_1280.jpg",
              "type": "string"
            },
            {
              "id": "32aa1561-458c-4f64-a854-eab65f9ad1dd",
              "name": "video_url",
              "value": "https://files.mohdasif.net/meow1/upload.mp4",
              "type": "string"
            },
            {
              "id": "c6485101-488b-43db-8708-1a1136292956",
              "name": "cover_image",
              "value": "https://cdn.pixabay.com/photo/2023/11/07/22/59/building-8373618_1280.jpg",
              "type": "string"
            },
            {
              "id": "d3c29a01-de2f-4487-a8d1-b6ef691fd2ff",
              "name": "default_description",
              "value": "#shorts #reaction #funny",
              "type": "string"
            },
            {
              "id": "b97e9319-6f06-4e85-af3b-ce904f6b221c",
              "name": "default_tags",
              "value": "#shorts #games",
              "type": "string"
            },
            {
              "id": "54a57124-b253-4e90-a3d3-e9181acb0a89",
              "name": "privacyStatus",
              "value": "private",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2640,
        -1376
      ],
      "id": "08f2e061-25b2-41d0-86ae-73e2f241b7b5",
      "name": "⚙️ Configure Post Settings"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "25e31619-4116-46e0-bfcb-a8d8a030fa68",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "http_reel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTTP - Reels"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cf34e931-f798-4c70-af29-9aec7aab8f6c",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "fb_reel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FB - Reels"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2416,
        -1376
      ],
      "id": "164a043a-2b35-4f08-923d-df590ee9f5e4",
      "name": "🔀 Smart Content Router"
    },
    {
      "parameters": {
        "url": "={{ $json.public }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
            },
            {
              "name": "Referer",
              "value": "https://www.tiktok.com/"
            },
            {
              "name": "Accept",
              "value": "video/mp4,video/webm,video/*;q=0.9,application/octet-stream;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.5"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "ea8701bd-15d4-4aad-ba53-b0d7b2b9cb9f",
      "name": "Output video file without watermark",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1968,
        -1376
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('GetYouTubeExtra').item.json.trend }}",
        "regionCode": "IN",
        "categoryId": "1",
        "options": {
          "defaultLanguage": "hi",
          "description": "={{ $('GetYouTubeExtra').item.json.description.replace(/#\\S*fb\\S*/gi, '').replace(/\\s{2,}/g, ' ').trim() }}\n\n{{ $('GetYouTubeExtra').item.json.des4 }}\n\n{{ $('GetYouTubeExtra').item.json.des3 }}\n",
          "privacyStatus": "={{ $('⚙️ Configure Post Settings').item.json.privacyStatus }}",
          "publishAt": "={{ new Date(Date.now() + 60*60*1000).toISOString() }}",
          "selfDeclaredMadeForKids": false,
          "tags": "=#shorts"
        }
      },
      "name": "Upload Short2",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -1744,
        -1376
      ],
      "id": "9354d7ad-228c-45db-a9dc-00b69e26b093",
      "binaryPropertyName": "data",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "ulnqe1qEielXQV0W",
          "name": "Facts Mind 99 - ay7261496@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "## ay7261496@gmail.com\n\n\n",
        "height": 80,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2384,
        -1536
      ],
      "typeVersion": 1,
      "id": "a645c9e1-f6a2-4398-89a6-c6a3e2e69768",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18,
              "triggerAtMinute": 1
            },
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 2
            },
            {
              "triggerAtHour": 11,
              "triggerAtMinute": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3088,
        -1376
      ],
      "id": "539e1cc0-daca-45b3-ba83-d1e018173c2f",
      "name": "Schedule Trigger",
      "notes": "Rule 1 →\n0 0 5 * * *\n(Triggers at 05:00 IST)\nRule 2 →\n0 30 17 * * *\n(Triggers at 17:30 IST)"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "Dr6T65qEZe0pGn30",
          "mode": "list",
          "cachedResultName": "FETCH FB LINKS FROM Facts Mind 99",
          "cachedResultUrl": "/projects/COQIBF46Vn0bg2e3/datatables/Dr6T65qEZe0pGn30"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "video_id",
              "keyValue": "={{ $('Get row(s)').item.json.video_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "youtube": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_id",
              "displayName": "video_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "browser_native_hd_url",
              "displayName": "browser_native_hd_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "public",
              "displayName": "public",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "downloaded",
              "displayName": "downloaded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "youtube",
              "displayName": "youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1520,
        -1376
      ],
      "id": "5fa72ed0-6bd7-4416-8381-78ee8190ecc4",
      "name": "UPDATE"
    },
    {
      "parameters": {
        "url": "https://n8n.mohdasif.net/webhook/ytags",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "Asif"
            },
            {
              "name": "age",
              "value": "25"
            },
            {
              "name": "role",
              "value": "developer"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2864,
        -1376
      ],
      "id": "668627e2-2299-4280-97ef-46138a40dc86",
      "name": "GetYouTubeExtra"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Dr6T65qEZe0pGn30",
          "mode": "list",
          "cachedResultName": "FETCH FB LINKS FROM Facts Mind 99",
          "cachedResultUrl": "/projects/COQIBF46Vn0bg2e3/datatables/Dr6T65qEZe0pGn30"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "youtube",
              "condition": "isFalse"
            },
            {
              "keyName": "youtube",
              "condition": "isEmpty"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2192,
        -1376
      ],
      "id": "6267a241-76c0-45ea-892f-8f500a78db84",
      "name": "Get row(s)"
    }
  ],
  "connections": {
    "⚙️ Configure Post Settings": {
      "main": [
        [
          {
            "node": "🔀 Smart Content Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Smart Content Router": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Output video file without watermark": {
      "main": [
        [
          {
            "node": "Upload Short2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Short2": {
      "main": [
        [
          {
            "node": "UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GetYouTubeExtra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetYouTubeExtra": {
      "main": [
        [
          {
            "node": "⚙️ Configure Post Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Output video file without watermark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0a72b120-a9e8-44a7-901f-c43e4a3feb89",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-21T05:35:23.201Z",
      "updatedAt": "2025-09-21T05:35:23.201Z",
      "role": "workflow:owner",
      "workflowId": "eHu8IA5VKNOApa0x",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-09-20T04:39:43.575Z",
      "updatedAt": "2025-09-20T04:39:43.575Z",
      "id": "BV8GBwIqmK0QIGLr",
      "name": "YOUTUBE"
    }
  ]
}