Backup_2025-10-07/Instagram-mystickhan-2.json
{
  "createdAt": "2025-09-19T04:41:49.819Z",
  "updatedAt": "2025-10-05T03:55:58.000Z",
  "id": "rWDtfWHofKOMJ1gH",
  "name": "Instagram-mystickhan-2",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "217b69e3-98ec-49a2-8fde-372dd1bc1848",
              "name": "node",
              "value": "17841468272726732",
              "type": "string"
            },
            {
              "id": "2caebe7c-a2d3-428e-b129-fcfbe66854e5",
              "name": "post_type",
              "value": "http_reel",
              "type": "string"
            },
            {
              "id": "a17a5c94-d9ae-44f8-9d56-fb55d17efe5",
              "name": "image_url",
              "value": "https://cdn.pixabay.com/photo/2023/11/07/22/59/building-8373618_1280.jpg",
              "type": "string"
            },
            {
              "id": "32aa1561-458c-4f64-a854-eab65f9ad1dd",
              "name": "video_url",
              "value": "https://files.mohdasif.net/meow1/upload.mp4",
              "type": "string"
            },
            {
              "id": "c6485101-488b-43db-8708-1a1136292956",
              "name": "cover_image",
              "value": "https://cdn.pixabay.com/photo/2023/11/07/22/59/building-8373618_1280.jpg",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2656,
        320
      ],
      "id": "db8d1f6b-5647-4938-b06a-f2b0f51844ea",
      "name": "⚙️ Configure Post Settings"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('⚙️ Configure Post Settings').item.json.node }}/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "=REELS"
            },
            {
              "name": "video_url",
              "value": "={{ $json.stdout }}"
            },
            {
              "name": "caption",
              "value": "=Guess The Number \n#mystickhan #Guess #Challenge\n\n{{ $('Call \\'YOUTUBE-TAGS\\'').item.json.des2 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1312,
        160
      ],
      "id": "227e1c13-12d9-441b-ba9d-79ce0184397c",
      "name": "Container HTTP Reels",
      "credentials": {
        "facebookGraphApi": {
          "id": "K7LY27wNHGw0VlWg",
          "name": "mystickhan-17841468272726732"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37f96da8-a8b6-417b-b5cf-7a4df5b4610c",
              "name": "container_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1088,
        160
      ],
      "id": "36fc82b1-1364-4fc0-b8f6-ff5e7956e317",
      "name": "🔍 Check Processing Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "682def4c-2cda-4417-9329-682a8a60feed",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "FINISHED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -416,
        80
      ],
      "id": "6df13f0f-09a0-44be-a440-20646e9dc9bb",
      "name": "✅ Is Container Ready?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da6bcb63-632a-443a-b5b3-a8b6e1c62871",
              "leftValue": "={{ $('🔀 Smart Content Router').item.json.post_type.split(\"_\")[0] }}",
              "rightValue": "http",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -192,
        -16
      ],
      "id": "1902e44a-9614-4384-9894-7a865959b78b",
      "name": "🔀 HTTP vs FB API Router"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('🔀 Smart Content Router').item.json.node }}/media_publish",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        -112
      ],
      "id": "a90ef958-e2c4-441e-88a4-316063702eca",
      "name": "📤 Publish via HTTP API",
      "credentials": {
        "facebookGraphApi": {
          "id": "K7LY27wNHGw0VlWg",
          "name": "mystickhan-17841468272726732"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $('🔀 Smart Content Router').item.json.node }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        32,
        80
      ],
      "id": "da988d8f-0d6f-4a2f-a4bf-09d9c83887c9",
      "name": "📤 Publish via Facebook SDK",
      "credentials": {
        "facebookGraphApi": {
          "id": "IoWNonuo3DCqxU0n",
          "name": "tiny.moew.diary-instagram"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -864,
        160
      ],
      "id": "b0bc9774-32d7-436e-9037-9ca9306d5126",
      "name": "⏰ Initial Processing Wait",
      "webhookId": "ff96da21-1ee1-4d9c-be5d-bae283b6d8f4"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        32,
        320
      ],
      "id": "97b5e7ce-ba77-4e8b-a740-15663a0eb019",
      "name": "⏰ Retry Wait Loop",
      "webhookId": "f9368aa0-2e83-4a76-83c9-63ba3f6384a2"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/{{ $('🔍 Check Processing Status').item.json.container_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "status_code"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        160
      ],
      "id": "ef307817-b69a-4a8f-9ecc-6fb1ab05fd5e",
      "name": "🔍 Check Processing Status1",
      "credentials": {
        "facebookGraphApi": {
          "id": "K7LY27wNHGw0VlWg",
          "name": "mystickhan-17841468272726732"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "682def4c-2cda-4417-9329-682a8a60feed",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -192,
        320
      ],
      "id": "b46a40b9-0aad-477c-813d-e2ec80ccbd31",
      "name": "anyError"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Increment Loop Var').item.json.page }}",
              "operation": "larger",
              "value2": "=3"
            }
          ]
        }
      },
      "name": "Reached Max?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        32,
        512
      ],
      "id": "3f487907-10fc-4e7e-9e69-dab21ecc433e"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "name": "Wait 2m",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        480,
        608
      ],
      "id": "3f12b12e-b30c-4911-b455-57cb083c5159",
      "webhookId": "99d4b998-a2d4-4bca-83cc-e5459bbf21d8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1503b89d-7f11-49fc-86ed-38ed600fc34c",
              "name": "prevPage",
              "value": "={{ $('Increment Loop Var').first().json.page }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        512
      ],
      "id": "2d49615c-c0d2-4137-9a18-3b77fd6848bb",
      "name": "Forward Prev Page Num"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32a6221a-b000-4b5f-9b93-271c44d542fd",
              "name": "page",
              "value": 1,
              "type": "number"
            },
            {
              "id": "91668535-ba9c-4626-8e64-e7a20644c8e2",
              "name": "pageCount",
              "value": 3,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2208,
        320
      ],
      "id": "b20ceba3-f73f-4421-bf3d-e879c48ad2ae",
      "name": "Vars"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a042073f-f9e7-4258-80db-360a09c549e4",
              "name": "page",
              "value": "={{ ($('Forward Prev Page Num').isExecuted) ? $('Forward Prev Page Num').first().json.prevPage + 1 : $('Vars').first().json.page }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1984,
        320
      ],
      "id": "8f4bba09-e033-472a-ab0a-e05fe5308b7c",
      "name": "Increment Loop Var"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "25e31619-4116-46e0-bfcb-a8d8a030fa68",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "http_reel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTTP - Reels"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cf34e931-f798-4c70-af29-9aec7aab8f6c",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "fb_reel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FB - Reels"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2432,
        320
      ],
      "id": "71ec52bd-65a2-4b70-ab18-66b9f61080a2",
      "name": "🔀 Smart Content Router"
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "delete",
        "path": "=/upload/guess/{{ $('Execute Command').item.json.stdout.split('/').pop() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        256,
        -112
      ],
      "id": "183b83e9-7cbf-4f16-a270-5a46939de62a",
      "name": "FTP",
      "credentials": {
        "sftp": {
          "id": "C8w0MijZfYD2NPtq",
          "name": "SFTP"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 15
            },
            {
              "triggerAtHour": 15,
              "triggerAtMinute": 5
            },
            {
              "triggerAtHour": 21,
              "triggerAtMinute": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3104,
        320
      ],
      "id": "87062adc-05b5-4b40-bd74-115a7324bfe9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "command": "=/files/guess/make_guess_video.sh $(shuf -i 1-500 -n 1)\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1760,
        160
      ],
      "id": "30dafb93-c84b-4c3d-8fb9-d18bb2bdf8f1",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "name": "wait 5 sec",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -1536,
        160
      ],
      "id": "08e5d9a5-6a67-4308-af10-9369b88e393e",
      "webhookId": "23bb6847-6bdb-408a-9282-e9b70d569243"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xQgmnRkUXwhBIh3l",
          "mode": "list",
          "cachedResultName": "YOUTUBE-TAGS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -2880,
        320
      ],
      "id": "9ad44c67-cbf1-43c5-ac3c-b74d9c7fe1e5",
      "name": "Call 'YOUTUBE-TAGS'"
    }
  ],
  "connections": {
    "⚙️ Configure Post Settings": {
      "main": [
        [
          {
            "node": "🔀 Smart Content Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container HTTP Reels": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Check Processing Status": {
      "main": [
        [
          {
            "node": "⏰ Initial Processing Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Is Container Ready?": {
      "main": [
        [
          {
            "node": "🔀 HTTP vs FB API Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "anyError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 HTTP vs FB API Router": {
      "main": [
        [
          {
            "node": "📤 Publish via HTTP API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📤 Publish via Facebook SDK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Initial Processing Wait": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Retry Wait Loop": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Check Processing Status1": {
      "main": [
        [
          {
            "node": "✅ Is Container Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Publish via HTTP API": {
      "main": [
        [
          {
            "node": "FTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "anyError": {
      "main": [
        [
          {
            "node": "Reached Max?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⏰ Retry Wait Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reached Max?": {
      "main": [
        [],
        [
          {
            "node": "Forward Prev Page Num",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2m": {
      "main": [
        [
          {
            "node": "Increment Loop Var",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward Prev Page Num": {
      "main": [
        [
          {
            "node": "Wait 2m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars": {
      "main": [
        [
          {
            "node": "Increment Loop Var",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Loop Var": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Smart Content Router": {
      "main": [
        [
          {
            "node": "Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Call 'YOUTUBE-TAGS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "wait 5 sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait 5 sec": {
      "main": [
        [
          {
            "node": "Container HTTP Reels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'YOUTUBE-TAGS'": {
      "main": [
        [
          {
            "node": "⚙️ Configure Post Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        10
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "63496139-0614-4f4b-98f4-2c1814ebeda6",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-19T04:41:49.829Z",
      "updatedAt": "2025-09-19T04:41:49.829Z",
      "role": "workflow:owner",
      "workflowId": "rWDtfWHofKOMJ1gH",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-09-10T11:25:38.298Z",
      "updatedAt": "2025-09-10T11:25:38.298Z",
      "id": "r3ZdTHEV3fmr7eAz",
      "name": "instagram"
    }
  ]
}