Backup_2025-10-07/UPDATE-YOUTUBE-VIDEOS.json
{
  "createdAt": "2025-09-24T06:00:45.416Z",
  "updatedAt": "2025-10-05T02:41:12.000Z",
  "id": "owORcK2OIywnQg4Z",
  "name": "UPDATE-YOUTUBE-VIDEOS",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "resource": "video",
        "limit": 2,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        80,
        -112
      ],
      "id": "5d0e9074-bd0f-4a30-89d5-b911350d8420",
      "name": "Get many videos",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "e5vbfdIvggIbG7b0",
          "name": "POST GyaanManch"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bef76b50-93a0-4acf-a103-cc95aa236015",
              "name": "VIDOES",
              "value": "={{ $json.id.videoId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        -112
      ],
      "id": "bcfd906f-39d2-47df-8e9d-dd42440deca1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "update",
        "videoId": "={{ $json.VIDOES }}",
        "title": "#alizasehar",
        "regionCode": "IN",
        "categoryId": "22",
        "updateFields": {
          "description": "={{ $('Call \\'YOUTUBE-TAGS\\'').item.json.description }} {{ $('Call \\'YOUTUBE-TAGS\\'').item.json.randomLines }}",
          "tags": "#shorts"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        528,
        -112
      ],
      "id": "d375ce83-c97e-4204-97fa-55e0b3cc3ab4",
      "name": "Update a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "e5vbfdIvggIbG7b0",
          "name": "POST GyaanManch"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xQgmnRkUXwhBIh3l",
          "mode": "list",
          "cachedResultName": "YOUTUBE-TAGS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -144,
        -112
      ],
      "id": "d6c3f855-e6bd-4239-b03d-971240f06b89",
      "name": "Call 'YOUTUBE-TAGS'"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        -112
      ],
      "id": "8633a0f2-9df7-4f25-91d2-5020a47f9a3f",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Get many videos": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'YOUTUBE-TAGS'": {
      "main": [
        [
          {
            "node": "Get many videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Call 'YOUTUBE-TAGS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "6be20304-f444-40dd-9a54-67fcef798509",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-24T06:00:45.422Z",
      "updatedAt": "2025-09-24T06:00:45.422Z",
      "role": "workflow:owner",
      "workflowId": "owORcK2OIywnQg4Z",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "tags": []
}