Backup_2025-10-07/YOUTUBE - Tanvi_Kapoor_01 FIX.json
{
  "createdAt": "2025-09-25T10:15:34.844Z",
  "updatedAt": "2025-10-02T10:22:35.000Z",
  "id": "hDXBrwTWp3MF7IGV",
  "name": "YOUTUBE - Tanvi_Kapoor_01 FIX",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "217b69e3-98ec-49a2-8fde-372dd1bc1848",
              "name": "node",
              "value": "17841416753691295",
              "type": "string"
            },
            {
              "id": "2caebe7c-a2d3-428e-b129-fcfbe66854e5",
              "name": "post_type",
              "value": "http_reel",
              "type": "string"
            },
            {
              "id": "a17a5c94-d9ae-44f8-9d56-fb55d17efe5",
              "name": "image_url",
              "value": "https://cdn.pixabay.com/photo/2023/11/07/22/59/building-8373618_1280.jpg",
              "type": "string"
            },
            {
              "id": "32aa1561-458c-4f64-a854-eab65f9ad1dd",
              "name": "video_url",
              "value": "https://files.mohdasif.net/meow1/upload.mp4",
              "type": "string"
            },
            {
              "id": "c6485101-488b-43db-8708-1a1136292956",
              "name": "cover_image",
              "value": "https://cdn.pixabay.com/photo/2023/11/07/22/59/building-8373618_1280.jpg",
              "type": "string"
            },
            {
              "id": "d3c29a01-de2f-4487-a8d1-b6ef691fd2ff",
              "name": "default_description",
              "value": "#shorts #reaction #funny",
              "type": "string"
            },
            {
              "id": "b97e9319-6f06-4e85-af3b-ce904f6b221c",
              "name": "default_tags",
              "value": "#shorts #boardgames #семейныеигры #boardgames #семьявместе #challenge",
              "type": "string"
            },
            {
              "id": "54a57124-b253-4e90-a3d3-e9181acb0a89",
              "name": "privacyStatus",
              "value": "private",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2672,
        -1184
      ],
      "id": "0185b7cd-9450-4caa-b127-9cdce21d7eef",
      "name": "⚙️ Configure Post Settings"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "25e31619-4116-46e0-bfcb-a8d8a030fa68",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "http_reel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTTP - Reels"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cf34e931-f798-4c70-af29-9aec7aab8f6c",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "fb_reel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FB - Reels"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2448,
        -1184
      ],
      "id": "d4064872-958f-40a3-bcaf-1fad381bfd58",
      "name": "🔀 Smart Content Router"
    },
    {
      "parameters": {
        "url": "=https://files.mohdasif.net/fb/Tanvi/output/{{ $json.stdout }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
            },
            {
              "name": "Referer",
              "value": "https://www.tiktok.com/"
            },
            {
              "name": "Accept",
              "value": "video/mp4,video/webm,video/*;q=0.9,application/octet-stream;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.5"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "2cf25b28-4b4b-4a63-bd15-fe089b51a206",
      "name": "Output video file without watermark",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1776,
        -1184
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Call \\'YOUTUBE-TAGS\\'').item.json.title1 }} {{ $('Call \\'YOUTUBE-TAGS\\'').item.json.trend\n }} ",
        "regionCode": "IN",
        "categoryId": "1",
        "options": {
          "defaultLanguage": "hi",
          "description": "={{ $('Call \\'YOUTUBE-TAGS\\'').item.json.des4 }}\n\n{{ $('Call \\'YOUTUBE-TAGS\\'').item.json.des3 }}",
          "privacyStatus": "={{ $('⚙️ Configure Post Settings').item.json.privacyStatus }}",
          "publishAt": "={{ new Date(Date.now() + 2*60*60*1000).toISOString() }}",
          "selfDeclaredMadeForKids": false,
          "tags": "=#shorts"
        }
      },
      "name": "Upload Short2",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -1552,
        -1184
      ],
      "id": "c42b4032-e7c9-4281-ad3e-632fdd81ccd3",
      "binaryPropertyName": "data",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "53V5EXwtYZRfT2WN",
          "name": "hellomdasif-Tanvi_Kapoor_01"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ALPRJrRJJMoZNU3gDYgL8eCh6qbt2gERPgyCuJbctSw",
          "mode": "list",
          "cachedResultName": "sachin-kumar-fetch",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ALPRJrRJJMoZNU3gDYgL8eCh6qbt2gERPgyCuJbctSw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ALPRJrRJJMoZNU3gDYgL8eCh6qbt2gERPgyCuJbctSw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Youtube"
            }
          ]
        },
        "options": {}
      },
      "id": "4aa3e5ec-88a4-4fd2-90b8-c697de627c3e",
      "name": "Google Sheets — Read Rows4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -2224,
        -1184
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3U1X4hjIcv7PxVl",
          "name": "hellomohdasif@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ALPRJrRJJMoZNU3gDYgL8eCh6qbt2gERPgyCuJbctSw",
          "mode": "list",
          "cachedResultName": "sachin-kumar-fetch",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ALPRJrRJJMoZNU3gDYgL8eCh6qbt2gERPgyCuJbctSw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZP5dTFoMoQI0iVQZjPe3hilnvlc9q8kUvkov6STAwLU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $('Google Sheets — Read Rows4').item.json.url }}",
            "Youtube": "DONE"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "video_id",
              "displayName": "video_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "browser_native_hd_url",
              "displayName": "browser_native_hd_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "downloaded",
              "displayName": "downloaded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "public",
              "displayName": "public",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Youtube",
              "displayName": "Youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9edaaf32-f7aa-487c-aef3-a562e92880fd",
      "name": "Google Sheets — Read Rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1328,
        -1184
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H3U1X4hjIcv7PxVl",
          "name": "hellomohdasif@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 7
            },
            {
              "triggerAtHour": 18,
              "triggerAtMinute": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3120,
        -1184
      ],
      "id": "02994aee-86b5-499f-8fa1-5be95984fa71",
      "name": "Schedule Trigger",
      "notes": "Rule 1 →\n0 0 5 * * *\n(Triggers at 05:00 IST)\nRule 2 →\n0 30 17 * * *\n(Triggers at 17:30 IST)"
    },
    {
      "parameters": {
        "command": "=/files/fb/Tanvi/make_unique_fixed_with_logo.sh \\\n  -i  /files/fb/Tanvi/{{ $json.video_id }}.mp4 \\\n  --outdir /files/fb/Tanvi/output \\\n  --logo /files/fb/Tanvi/mylogo.png \\\n  --find-time 2 \\\n  --place right \\\n  --match /files/fb/Tanvi/match.png \\\n  --match-offx 0 \\\n  --match-offy -30 \\\n  --logo-scale 0.29 \\\n  --match-mode template \\\n  --detect-mode match \\\n  --bright-percent 10 \\\n  --border-width 0 \\\n  --border-color white \\\n  --speed 1.2"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -2000,
        -1184
      ],
      "id": "d492d91f-5a78-460d-b003-395fb24b8988",
      "name": "Execute Command",
      "notes": "/files/successblueprint86-script/make_unique_fixed.sh -i in.mp4 --speed 1.2 --brightness -0.05 --contrast 1.1 --saturation 1.05 --border 20"
    },
    {
      "parameters": {
        "content": "## HELLOMDASIF@GMAIL.COM"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2448,
        -1376
      ],
      "typeVersion": 1,
      "id": "aa5df8cc-d57f-4077-adce-a8192e112255",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xQgmnRkUXwhBIh3l",
          "mode": "list",
          "cachedResultName": "YOUTUBE-TAGS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -2896,
        -1184
      ],
      "id": "1640017d-6719-4db6-a263-bf4ed895b757",
      "name": "Call 'YOUTUBE-TAGS'"
    }
  ],
  "connections": {
    "⚙️ Configure Post Settings": {
      "main": [
        [
          {
            "node": "🔀 Smart Content Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Smart Content Router": {
      "main": [
        [
          {
            "node": "Google Sheets — Read Rows4",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Output video file without watermark": {
      "main": [
        [
          {
            "node": "Upload Short2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Short2": {
      "main": [
        [
          {
            "node": "Google Sheets — Read Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets — Read Rows4": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Call 'YOUTUBE-TAGS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Output video file without watermark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'YOUTUBE-TAGS'": {
      "main": [
        [
          {
            "node": "⚙️ Configure Post Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "40ee39a2-a696-4df7-ba82-ba95999c6d62",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-25T10:15:34.850Z",
      "updatedAt": "2025-09-25T10:15:34.850Z",
      "role": "workflow:owner",
      "workflowId": "hDXBrwTWp3MF7IGV",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-09-20T04:39:43.575Z",
      "updatedAt": "2025-09-20T04:39:43.575Z",
      "id": "BV8GBwIqmK0QIGLr",
      "name": "YOUTUBE"
    }
  ]
}