Backup_2025-10-07/YOUTUBE - GUESS THE NUMBER.json
{
  "createdAt": "2025-09-20T15:44:58.946Z",
  "updatedAt": "2025-09-30T12:10:19.000Z",
  "id": "4tcDnU5kSoAtjazf",
  "name": "YOUTUBE - GUESS THE NUMBER",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "217b69e3-98ec-49a2-8fde-372dd1bc1848",
              "name": "node",
              "value": "17841416753691295",
              "type": "string"
            },
            {
              "id": "2caebe7c-a2d3-428e-b129-fcfbe66854e5",
              "name": "post_type",
              "value": "http_reel",
              "type": "string"
            },
            {
              "id": "a17a5c94-d9ae-44f8-9d56-fb55d17efe5",
              "name": "image_url",
              "value": "https://cdn.pixabay.com/photo/2023/11/07/22/59/building-8373618_1280.jpg",
              "type": "string"
            },
            {
              "id": "32aa1561-458c-4f64-a854-eab65f9ad1dd",
              "name": "video_url",
              "value": "https://files.mohdasif.net/meow1/upload.mp4",
              "type": "string"
            },
            {
              "id": "c6485101-488b-43db-8708-1a1136292956",
              "name": "cover_image",
              "value": "https://cdn.pixabay.com/photo/2023/11/07/22/59/building-8373618_1280.jpg",
              "type": "string"
            },
            {
              "id": "d3c29a01-de2f-4487-a8d1-b6ef691fd2ff",
              "name": "default_description",
              "value": "#shorts #boardgames #семейныеигры #boardgames #семьявместе #challenge",
              "type": "string"
            },
            {
              "id": "b97e9319-6f06-4e85-af3b-ce904f6b221c",
              "name": "default_tags",
              "value": "#shorts #boardgames #семейныеигры #boardgames #семьявместе #challenge",
              "type": "string"
            },
            {
              "id": "54a57124-b253-4e90-a3d3-e9181acb0a89",
              "name": "privacyStatus",
              "value": "private",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2896,
        -864
      ],
      "id": "64054d77-1e64-44eb-a9e4-7b9d1a261869",
      "name": "⚙️ Configure Post Settings"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "25e31619-4116-46e0-bfcb-a8d8a030fa68",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "http_reel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTTP - Reels"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cf34e931-f798-4c70-af29-9aec7aab8f6c",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "fb_reel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FB - Reels"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2672,
        -864
      ],
      "id": "13e75c56-3647-42ec-8df4-3b7d0eae5984",
      "name": "🔀 Smart Content Router"
    },
    {
      "parameters": {
        "url": "={{ $json.stdout }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
            },
            {
              "name": "Referer",
              "value": "https://www.tiktok.com/"
            },
            {
              "name": "Accept",
              "value": "video/mp4,video/webm,video/*;q=0.9,application/octet-stream;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.5"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "78658a57-bcb0-4928-949e-688d0653fd6a",
      "name": "Output video file without watermark",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2224,
        -864
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Call \\'YOUTUBE-TAGS\\'').item.json.Title }}",
        "regionCode": "IN",
        "categoryId": "24",
        "options": {
          "defaultLanguage": "hi",
          "description": "={{ $('Call \\'YOUTUBE-TAGS\\'').item.json.description }} {{ $('Call \\'YOUTUBE-TAGS\\'').item.json.randomLines }} #Quiz #Guess",
          "privacyStatus": "={{ $('⚙️ Configure Post Settings').item.json.privacyStatus }}",
          "publishAt": "={{ new Date(Date.now() + 30*60*1000).toISOString() }}\n",
          "selfDeclaredMadeForKids": false,
          "tags": "={{ $('⚙️ Configure Post Settings').item.json.default_tags }}"
        }
      },
      "name": "Upload Short2",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -2000,
        -864
      ],
      "id": "c6016d00-77a6-47e9-8716-c7636d7398f2",
      "binaryPropertyName": "data",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "59XPv0xxf7fWKMBO",
          "name": "GuessTheNumber - nepalaahan01@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            },
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3344,
        -864
      ],
      "id": "cda43114-1df1-47de-be01-e0524a779edd",
      "name": "Schedule Trigger",
      "notes": "Rule 1 →\n0 0 5 * * *\n(Triggers at 05:00 IST)\nRule 2 →\n0 30 17 * * *\n(Triggers at 17:30 IST)"
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "delete",
        "path": "=/upload/guess/{{ $('Execute Command').item.json.stdout.split('/').pop() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -1776,
        -864
      ],
      "id": "bfe67618-4930-4831-9c56-3c4b55b5d2cc",
      "name": "FTP",
      "credentials": {
        "sftp": {
          "id": "C8w0MijZfYD2NPtq",
          "name": "SFTP"
        }
      }
    },
    {
      "parameters": {
        "command": "=/files/guess/make_guess_video.sh $(shuf -i 1-500 -n 1)"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -2448,
        -864
      ],
      "id": "5a15363a-96be-4658-a7d5-39cb0c329a75",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "content": "## nepalaahan01@gmail.com\n",
        "height": 80,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2880,
        -1008
      ],
      "typeVersion": 1,
      "id": "91991e32-a093-4977-ae45-9553a74f53dc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xQgmnRkUXwhBIh3l",
          "mode": "list",
          "cachedResultName": "YOUTUBE-TAGS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -3120,
        -864
      ],
      "id": "66b5ea36-8f9d-46fa-afdc-2a47fa54f554",
      "name": "Call 'YOUTUBE-TAGS'"
    },
    {
      "parameters": {
        "resource": "video",
        "limit": 5,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -2048,
        -704
      ],
      "id": "3626cbae-5e78-4163-89b9-1a3e9270beed",
      "name": "Get many videos",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "e5vbfdIvggIbG7b0",
          "name": "POST GyaanManch"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bef76b50-93a0-4acf-a103-cc95aa236015",
              "name": "VIDOES",
              "value": "={{ $json.id.videoId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1856,
        -704
      ],
      "id": "a5cde77f-79b0-41c1-93dc-a30103b7f5f7",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "update",
        "videoId": "={{ $json.VIDOES }}",
        "title": "#alizasehar",
        "regionCode": "IN",
        "categoryId": "22",
        "updateFields": {
          "description": ""
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -1408,
        -688
      ],
      "id": "a89e366c-5144-412c-993c-ccbcdf058add",
      "name": "Update a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "e5vbfdIvggIbG7b0",
          "name": "POST GyaanManch"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "⚙️ Configure Post Settings": {
      "main": [
        [
          {
            "node": "🔀 Smart Content Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Smart Content Router": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Output video file without watermark": {
      "main": [
        [
          {
            "node": "Upload Short2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Short2": {
      "main": [
        [
          {
            "node": "FTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Call 'YOUTUBE-TAGS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Output video file without watermark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'YOUTUBE-TAGS'": {
      "main": [
        [
          {
            "node": "⚙️ Configure Post Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many videos": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "116e8f4b-65d3-4e99-9db7-05537f4a3cb6",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-20T15:44:58.954Z",
      "updatedAt": "2025-09-20T15:44:58.954Z",
      "role": "workflow:owner",
      "workflowId": "4tcDnU5kSoAtjazf",
      "projectId": "COQIBF46Vn0bg2e3"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-09-20T04:39:43.575Z",
      "updatedAt": "2025-09-20T04:39:43.575Z",
      "id": "BV8GBwIqmK0QIGLr",
      "name": "YOUTUBE"
    }
  ]
}